In [1]:
import pandas as pd

In [2]:
cwur_df = pd.read_csv("cwurData.csv")
cwur_df

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,997,Alexandria University,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,998,Federal University of Ceará,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,999,University of A Coruña,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,1000,China Pharmaceutical University,China,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [3]:
cwur_df = cwur_df.fillna(0)

In [8]:
df3 = cwur_df.loc[(cwur_df['year'] >= 2012) & (cwur_df['year'] <= 2015)]
df3

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,0.0,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,0.0,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,0.0,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,0.0,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,0.0,18,85.21,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,997,Alexandria University,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,998,Federal University of Ceará,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,999,University of A Coruña,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,1000,China Pharmaceutical University,China,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [13]:
df3.to_csv('2012_2015_cwur.csv', index = False)

In [9]:
shanghai_df = pd.read_csv("shanghaiData.csv")
shanghai_df

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005
...,...,...,...,...,...,...,...,...,...,...,...
4892,401-500,University of Trieste,11-20,NaN,0.0,0.0,5.0,10.9,25.1,20.1,2015
4893,401-500,University of Zaragoza,9-13,NaN,0.0,0.0,7.6,5.1,33.3,13.1,2015
4894,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
4895,401-500,Vienna University of Technology,4-6,NaN,0.0,0.0,0.0,12.2,28.8,22.9,2015
4896,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [10]:
shanghai_df = shanghai_df.fillna(0)
shanghai_df

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005
...,...,...,...,...,...,...,...,...,...,...,...
4892,401-500,University of Trieste,11-20,0.0,0.0,0.0,5.0,10.9,25.1,20.1,2015
4893,401-500,University of Zaragoza,9-13,0.0,0.0,0.0,7.6,5.1,33.3,13.1,2015
4894,401-500,Utah State University,126-146,0.0,13.6,0.0,3.6,10.8,25.1,15.5,2015
4895,401-500,Vienna University of Technology,4-6,0.0,0.0,0.0,0.0,12.2,28.8,22.9,2015
4896,401-500,Wake Forest University,126-146,0.0,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [11]:
df4 = shanghai_df.loc[(shanghai_df['year'] >= 2012) & (shanghai_df['year'] <= 2015)]
df4

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
3514,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,71.1,2012
3515,2,Stanford University,2,72.8,38.0,79.7,88.9,71.6,69.6,49.2,2012
3516,3,Massachusetts Institute of Technology (MIT),3,71.8,69.0,83.2,68.2,69.2,61.6,64.1,2012
3517,4,"University of California, Berkeley",4,71.6,67.5,80.9,69.7,68.5,68.1,53.4,2012
3518,5,University of Cambridge,1,69.8,80.3,97.2,54.6,55.0,65.9,52.1,2012
...,...,...,...,...,...,...,...,...,...,...,...
4892,401-500,University of Trieste,11-20,0.0,0.0,0.0,5.0,10.9,25.1,20.1,2015
4893,401-500,University of Zaragoza,9-13,0.0,0.0,0.0,7.6,5.1,33.3,13.1,2015
4894,401-500,Utah State University,126-146,0.0,13.6,0.0,3.6,10.8,25.1,15.5,2015
4895,401-500,Vienna University of Technology,4-6,0.0,0.0,0.0,0.0,12.2,28.8,22.9,2015
4896,401-500,Wake Forest University,126-146,0.0,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [12]:
df4.to_csv('2012_2015_shanghai.csv', index = False)

In [14]:
times_df = pd.read_csv("timesData.csv")
times_df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,601-800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,-,"21,958",15.3,3%,48 : 52,2016
2599,601-800,Yıldız Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,-,"31,268",28.7,2%,36 : 64,2016
2600,601-800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,-,"4,122",3.7,3%,NaN,2016
2601,601-800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,-,"10,117",12.1,8%,28 : 72,2016
2602,601-800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,-,"8,663",20.6,4%,43 : 57,2016

In [15]:
from fractions import Fraction
import numpy as np

In [16]:
times_df = times_df.replace('-', 0)
times_df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,0,94.2,"7,929",8.4,27%,45 : 55,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,601-800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,0,"21,958",15.3,3%,48 : 52,2016
2599,601-800,Yıldız Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,0,"31,268",28.7,2%,36 : 64,2016
2600,601-800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,0,"4,122",3.7,3%,NaN,2016
2601,601-800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,0,"10,117",12.1,8%,28 : 72,2016
2602,601-800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,0,"8,663",20.6,4%,43 : 57,2016

In [17]:
int_students = times_df['international_students'].str.strip('%').astype(float)/100
int_students

0       0.25
1       0.27
2       0.33
3       0.22
4       0.27
        ...
2598    0.03
2599    0.02
2600    0.03
2601    0.08
2602    0.04
Name: international_students, Length: 2603, dtype: float64

In [18]:
times_df['int_students'] = int_students
times_df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,int_students
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011,0.25
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011,0.27
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011,0.33
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011,0.22
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,0,94.2,"7,929",8.4,27%,45 : 55,2011,0.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,601-800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,0,"21,958",15.3,3%,48 : 52,2016,0.03
2599,601-800,Yıldız Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,0,"31,268",28.7,2%,36 : 64,2016,0.02
2600,601-800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,0,"4,122",3.7,3%,NaN,2016,0.03
2601,601-800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,0,"10,117",12.1,8%,28 : 72,2016,0.08
2602,601-800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,0,"8,663",20.6,4%,43 : 57,2016,0.04

In [19]:
times_df = times_df.drop(['international_students'], axis = 1)
times_df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,female_male_ratio,year,int_students
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,NaN,2011,0.25
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,33 : 67,2011,0.27
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,37 : 63,2011,0.33
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,42 : 58,2011,0.22
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,0,94.2,"7,929",8.4,45 : 55,2011,0.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,601-800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,0,"21,958",15.3,48 : 52,2016,0.03
2599,601-800,Yıldız Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,0,"31,268",28.7,36 : 64,2016,0.02
2600,601-800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,0,"4,122",3.7,NaN,2016,0.03
2601,601-800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,0,"10,117",12.1,28 : 72,2016,0.08
2602,601-800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,0,"8,663",20.6,43 : 57,2016,0.04

In [20]:
times_df[['female','male']] = times_df["female_male_ratio"].str.split(" : ",expand=True,)
times_df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,female_male_ratio,year,int_students,female,male
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,NaN,2011,0.25,NaN,NaN
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,33 : 67,2011,0.27,33,67
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,37 : 63,2011,0.33,37,63
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,42 : 58,2011,0.22,42,58
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,0,94.2,"7,929",8.4,45 : 55,2011,0.27,45,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,601-800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,0,"21,958",15.3,48 : 52,2016,0.03,48,52
2599,601-800,Yıldız Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,0,"31,268",28.7,36 : 64,2016,0.02,36,64
2600,601-800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,0,"4,122",3.7,NaN,2016,0.03,NaN,NaN
2601,601-800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,0,"10,117",12.1,28 : 72,2016,0.08,28,72
2602,601-800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,0,"8,663",20.6,43 : 57,2016,0.04,43,57

In [21]:
times_df = times_df.drop(['female_male_ratio'], axis = 1)
times_df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,year,int_students,female,male
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,2011,0.25,NaN,NaN
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,2011,0.27,33,67
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,2011,0.33,37,63
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,2011,0.22,42,58
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,0,94.2,"7,929",8.4,2011,0.27,45,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,601-800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,0,"21,958",15.3,2016,0.03,48,52
2599,601-800,Yıldız Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,0,"31,268",28.7,2016,0.02,36,64
2600,601-800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,0,"4,122",3.7,2016,0.03,NaN,NaN
2601,601-800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,0,"10,117",12.1,2016,0.08,28,72
2602,601-800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,0,"8,663",20.6,2016,0.04,43,57

In [22]:
times_df = times_df.fillna(0)
times_df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,year,int_students,female,male
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,2011,0.25,0,0
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,2011,0.27,33,67
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,2011,0.33,37,63
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,2011,0.22,42,58
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,0,94.2,"7,929",8.4,2011,0.27,45,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,601-800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,0,"21,958",15.3,2016,0.03,48,52
2599,601-800,Yıldız Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,0,"31,268",28.7,2016,0.02,36,64
2600,601-800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,0,"4,122",3.7,2016,0.03,0,0
2601,601-800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,0,"10,117",12.1,2016,0.08,28,72
2602,601-800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,0,"8,663",20.6,2016,0.04,43,57

In [23]:
times_df['female'] = pd.to_numeric(times_df['female'])

In [24]:
times_df['male'] = pd.to_numeric(times_df['male'])

In [25]:
times_df.dtypes

world_rank              object
university_name         object
country                 object
teaching               float64
international           object
research               float64
citations              float64
income                  object
total_score             object
num_students            object
student_staff_ratio    float64
year                     int64
int_students           float64
female                   int64
male                     int64
dtype: object

In [26]:
times_df['female_male'] = np.where(times_df['male'] < 1, times_df['male'], times_df['female']/times_df['male'])
times_df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,year,int_students,female,male,female_male
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,2011,0.25,0,0,0.000000
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,2011,0.27,33,67,0.492537
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,2011,0.33,37,63,0.587302
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,2011,0.22,42,58,0.724138
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,0,94.2,"7,929",8.4,2011,0.27,45,55,0.818182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,601-800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,0,"21,958",15.3,2016,0.03,48,52,0.923077
2599,601-800,Yıldız Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,0,"31,268",28.7,2016,0.02,36,64,0.562500
2600,601-800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,0,"4,122",3.7,2016,0.03,0,0,0.000000
2601,601-800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,0,"10,117",12.1,2016,0.08,28,72,0.388889
2602,601-800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,0,"8,663",20.6,2016,0.04,43,57,0.754386

In [27]:
times_df = times_df.drop(['female'], axis = 1)
times_df.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,year,int_students,male,female_male
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,2011,0.25,0,0.000000
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,2011,0.27,67,0.492537
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,2011,0.33,63,0.587302
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,2011,0.22,58,0.724138
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,0,94.2,"7,929",8.4,2011,0.27,55,0.818182

In [28]:
times_df = times_df.drop(['male'], axis = 1)
times_df.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,year,int_students,female_male
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,2011,0.25,0.000000
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,2011,0.27,0.492537
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,2011,0.33,0.587302
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,2011,0.22,0.724138
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,0,94.2,"7,929",8.4,2011,0.27,0.818182

In [29]:
df5 = times_df.loc[(times_df['year'] >= 2012) & (times_df['year'] <= 2015)]
df5

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,year,int_students,female_male
200,1,California Institute of Technology,United States of America,95.7,56.0,98.2,99.9,97.0,94.8,"2,243",6.9,2012,0.27,0.492537
201,2,Harvard University,United States of America,95.8,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,2012,0.25,0.000000
202,2,Stanford University,United States of America,94.8,57.2,98.9,99.8,63.8,93.9,"15,596",7.8,2012,0.22,0.724138
203,4,University of Oxford,United Kingdom,89.5,91.9,96.6,97.9,62.1,93.6,"19,919",11.6,2012,0.34,0.851852
204,5,Princeton University,United States of America,91.5,49.6,99.1,100.0,81.0,92.9,"7,929",8.4,2012,0.27,0.818182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,351-400,Waseda University,Japan,25.5,43.1,16.3,55.5,32.6,0,"52,316",16.9,2015,0.08,0.538462
1799,351-400,Washington State University,United States of America,28.5,36.0,27.5,44.2,54.5,0,"24,550",18.3,2015,0.07,1.000000
1800,351-400,Western Sydney University,Australia,17.8,50.1,22.4,58.7,30.4,0,"30,704",32.2,2015,0.09,1.272727
1801,351-400,Wuhan University,China,34.1,33.1,17.4,48.5,85.9,0,"46,227",14.4,2015,0.07,0.000000
1802,351-400,Wuhan University of Technology,China,16.2,21.4,8.0,75.8,57.8,0,"50,260",14.9,2015,0.02,0.449275

In [30]:
df5.to_csv('2012_2015_times.csv', index = False)

In [32]:
import sqlite3
  
conn = sqlite3.connect(r'C:\Users\Thomas\Documents\dataproject\times.db')

times_data = pd.read_csv('2012_2015_times.csv')
# Write the data to a sqlite table
times_data.to_sql('times_rankings', conn, if_exists='replace', index=False)
  
# Create a cursor object
cur = conn.cursor()
# Fetch and display result
for row in cur.execute('SELECT * FROM times_rankings'):
    print(row)
# Close connection to SQLite database
conn.close()

('1', 'California Institute of Technology', 'United States of America', 95.7, 56.0, 98.2, 99.9, 97.0, 94.8, '2,243', 6.9, 2012, 0.27, 0.4925373134328358)
('2', 'Harvard University', 'United States of America', 95.8, 67.5, 97.4, 99.8, 35.9, 93.9, '20,152', 8.9, 2012, 0.25, 0.0)
('2', 'Stanford University', 'United States of America', 94.8, 57.2, 98.9, 99.8, 63.8, 93.9, '15,596', 7.8, 2012, 0.22, 0.7241379310344828)
('4', 'University of Oxford', 'United Kingdom', 89.5, 91.9, 96.6, 97.9, 62.1, 93.6, '19,919', 11.6, 2012, 0.34, 0.8518518518518519)
('5', 'Princeton University', 'United States of America', 91.5, 49.6, 99.1, 100.0, 81.0, 92.9, '7,929', 8.4, 2012, 0.27, 0.8181818181818182)
('6', 'University of Cambridge', 'United Kingdom', 90.5, 85.3, 94.2, 97.3, 55.5, 92.4, '18,812', 11.8, 2012, 0.34, 0.8518518518518519)
('7', 'Massachusetts Institute of Technology', 'United States of America', 92.7, 79.2, 87.4, 100.0, 94.4, 92.3, '11,074', 9.0, 2012, 0.33, 0.5873015873015873)
('8', 'Imperial College London', 'United Kingdom', 88.8, 92.2, 88.7, 93.9, 93.1, 90.7, '15,060', 11.7, 2012, 0.51, 0.5873015873015873)
('9', 'University of Chicago', 'United States of America', 89.4, 58.8, 90.8, 99.4, 0.0, 90.2, '14,221', 6.9, 2012, 0.21, 0.7241379310344828)
('10', 'University of California, Berkeley', 'United States of America', 82.8, 50.4, 99.4, 99.4, 62.5, 89.8, '36,186', 16.4, 2012, 0.15, 1.0)
('11', 'Yale University', 'United States of America', 92.3, 55.5, 91.2, 96.7, 34.7, 89.1, '11,751', 4.4, 2012, 0.2, 1.0)
('12', 'Columbia University', 'United States of America', 89.1, 67.6, 81.8, 97.8, 0.0, 87.5, '25,055', 5.9, 2012, 0.28, 0.0)
('13', 'University of California, Los Angeles', 'United States of America', 85.9, 41.0, 92.5, 97.3, 0.0, 87.3, '38,206', 10.3, 2012, 0.15, 1.0833333333333333)
('14', 'Johns Hopkins University', 'United States of America', 78.9, 59.9, 86.5, 97.3, 100.0, 85.8, '15,128', 3.6, 2012, 0.23, 1.0)
('15', 'ETH Zurich – Swiss Federal Institute of Technology Zurich', 'Switzerland', 79.1, 97.5, 85.8, 87.2, 0.0, 85.0, '18,178', 14.7, 2012, 0.37, 0.4492753623188406)
('16', 'University of Pennsylvania', 'United States of America', 87.0, 34.3, 86.1, 97.9, 41.9, 84.9, '20,376', 6.5, 2012, 0.2, 1.0408163265306123)
('17', 'University College London', 'United Kingdom', 77.8, 91.8, 84.3, 89.0, 41.4, 83.2, '26,607', 10.7, 2012, 0.46, 1.2727272727272727)
('18', 'University of Michigan', 'United States of America', 75.4, 47.2, 90.0, 94.3, 53.3, 82.8, '41,786', 9.0, 2012, 0.16, 0.9230769230769232)
('19', 'University of Toronto', 'Canada', 76.9, 69.0, 87.4, 86.5, 44.9, 81.6, '66,198', 19.5, 2012, 0.15, 0.0)
('20', 'Cornell University', 'United States of America', 70.4, 53.4, 87.2, 93.5, 0.0, 80.5, '21,424', 10.2, 2012, 0.19, 0.9230769230769232)
('21', 'Carnegie Mellon University', 'United States of America', 65.7, 55.0, 79.5, 97.4, 60.7, 78.4, '11,885', 13.1, 2012, 0.35, 0.639344262295082)
('22', 'Duke University', 'United States of America', 62.6, 46.9, 77.9, 97.4, 100.0, 77.4, '15,172', 4.8, 2012, 0.17, 0.9607843137254902)
('22', 'University of British Columbia', 'Canada', 68.6, 88.7, 78.6, 85.2, 40.6, 77.4, '50,152', 17.6, 2012, 0.25, 1.173913043478261)
('24', 'Georgia Institute of Technology', 'United States of America', 66.6, 65.0, 73.8, 91.9, 99.2, 77.0, '19,967', 20.1, 2012, 0.26, 0.4492753623188406)
('25', 'University of Washington', 'United States of America', 70.8, 36.9, 74.0, 98.2, 31.8, 76.5, '44,020', 11.8, 2012, 0.13, 1.127659574468085)
('26', 'Northwestern University', 'United States of America', 66.3, 35.3, 75.5, 98.6, 56.6, 76.2, '18,334', 13.8, 2012, 0.15, 0.9230769230769232)
('27', 'University of Wisconsin-Madison', 'United States of America', 74.3, 23.8, 77.3, 90.6, 55.3, 75.8, '39,655', 10.8, 2012, 0.11, 1.0408163265306123)
('28', 'McGill University', 'Canada', 72.8, 81.4, 78.4, 77.1, 35.1, 75.5, '31,326', 13.7, 2012, 0.23, 1.2727272727272727)
('29', 'University of Texas at Austin', 'United States of America', 69.5, 38.8, 76.1, 89.6, 57.7, 74.9, '49,427', 17.4, 2012, 0.09, 1.0408163265306123)
('30', 'University of Tokyo', 'Japan', 86.1, 23.0, 80.3, 69.1, 76.6, 74.3, '26,199', 5.7, 2012, 0.1, 0.0)
('31', 'University of Illinois at Urbana-Champaign', 'United States of America', 67.9, 50.7, 81.3, 81.5, 0.0, 74.2, '42,727', 18.7, 2012, 0.2, 0.8867924528301887)
('32', 'Karolinska Institute', 'Sweden', 69.9, 82.0, 73.8, 73.1, 78.5, 73.1, '7,774', 11.5, 2012, 0.22, 2.333333333333333)
('33', 'University of California, San Diego', 'United States of America', 61.4, 31.5, 72.0, 97.8, 51.8, 73.0, '27,233', 6.5, 2012, 0.11, 0.9230769230769232)
('34', 'University of Hong Kong', 'Hong Kong', 74.0, 83.7, 80.1, 60.5, 64.1, 72.3, '19,835', 17.6, 2012, 0.38, 1.127659574468085)
('35', 'University of California, Santa Barbara', 'United States of America', 55.0, 52.6, 65.3, 99.9, 85.0, 72.1, '22,020', 27.3, 2012, 0.11, 1.0833333333333333)
('36', 'University of Edinburgh', 'United Kingdom', 63.0, 79.8, 61.4, 92.3, 41.3, 72.0, '25,774', 14.1, 2012, 0.36, 1.380952380952381)
('37', 'University of Melbourne', 'Australia', 62.2, 82.5, 72.4, 80.7, 44.4, 71.9, '40,128', 23.7, 2012, 0.35, 1.2222222222222223)
('38', 'Australian National University', 'Australia', 62.8, 93.8, 75.1, 72.6, 41.7, 71.2, '14,604', 19.2, 2012, 0.35, 1.0833333333333333)
('38', 'University of California, Davis', 'United States of America', 68.0, 51.4, 68.7, 83.4, 52.5, 71.2, '35,364', 13.9, 2012, 0.13, 1.173913043478261)
('40', 'National University of Singapore', 'Singapore', 65.7, 93.0, 79.0, 63.4, 60.7, 70.9, '31,592', 15.5, 2012, 0.34, 0.9607843137254902)
('41', 'Washington University in St Louis', 'United States of America', 64.0, 45.7, 58.9, 96.1, 0.0, 70.5, '12,528', 5.7, 2012, 0.17, 0.0)
('42', 'University of Minnesota', 'United States of America', 66.1, 25.6, 72.5, 85.4, 0.0, 70.0, '46,825', 18.0, 2012, 0.13, 1.0833333333333333)
('43', 'University of North Carolina at Chapel Hill', 'United States of America', 67.6, 20.2, 62.6, 92.6, 35.5, 69.3, '26,518', 7.3, 2012, 0.08, 1.380952380952381)
('44', 'New York University', 'United States of America', 60.2, 38.1, 65.4, 92.3, 30.9, 69.0, '42,056', 6.8, 2012, 0.19, 1.2222222222222223)
('45', 'LMU Munich', 'Germany', 63.8, 54.3, 59.9, 84.6, 40.7, 67.6, '35,691', 15.5, 2012, 0.13, 1.631578947368421)
('46', 'École Polytechnique Fédérale de Lausanne', 'Switzerland', 53.1, 98.9, 43.9, 95.3, 46.7, 66.3, '9,666', 10.5, 2012, 0.54, 0.3698630136986301)
('47', 'London School of Economics and Political Science', 'United Kingdom', 66.4, 96.0, 75.4, 50.6, 41.1, 66.0, '0', 0.0, 2012, 0.0, 0.0)
('48', 'University of Manchester', 'United Kingdom', 59.0, 80.4, 61.1, 75.6, 37.7, 65.7, '34,938', 15.3, 2012, 0.34, 1.0833333333333333)
('49', 'Brown University', 'United States of America', 59.8, 33.4, 53.6, 93.9, 34.9, 65.6, '8,653', 10.1, 2012, 0.19, 0.0)
('49', 'Peking University', 'China', 82.3, 51.7, 64.1, 51.0, 99.9, 65.6, '40,148', 8.3, 2012, 0.14, 0.0)
('51', 'Pennsylvania State University', 'United States of America', 53.5, 29.5, 66.7, 83.4, 61.6, 64.9, '44,501', 12.4, 2012, 0.12, 0.8518518518518519)
('52', 'Kyoto University', 'Japan', 76.4, 21.1, 72.0, 56.3, 71.7, 64.8, '22,809', 5.6, 2012, 0.07, 0.0)
('53', 'Pohang University of Science and Technology', 'South Korea', 56.4, 25.0, 51.9, 92.3, 100.0, 64.6, '3,055', 10.1, 2012, 0.04, 0.25)
('54', 'Boston University', 'United States of America', 60.7, 37.2, 46.2, 95.6, 27.6, 64.2, '24,789', 8.6, 2012, 0.17, 1.380952380952381)
('55', 'University of Southern California', 'United States of America', 65.8, 41.1, 48.7, 80.2, 99.3, 64.0, '36,534', 12.9, 2012, 0.2, 1.0833333333333333)
('56', 'King’s College London', 'United Kingdom', 49.8, 90.0, 54.2, 80.9, 40.8, 63.2, '21,394', 11.4, 2012, 0.37, 1.5641025641025639)
('57', 'Ohio State University', 'United States of America', 61.8, 42.2, 56.2, 77.5, 49.9, 63.0, '51,462', 13.4, 2012, 0.12, 0.9607843137254902)
('58', 'University of Sydney', 'Australia', 55.4, 88.1, 65.7, 57.2, 92.1, 62.4, '41,868', 20.2, 2012, 0.28, 1.3255813953488371)
('59', 'University of Pittsburgh', 'United States of America', 54.3, 26.5, 53.9, 88.7, 37.5, 62.0, '26,485', 5.8, 2012, 0.1, 1.0408163265306123)
('59', 'École Normale Supérieure', 'France', 56.6, 66.2, 33.5, 96.4, 44.7, 62.0, '2,400', 7.9, 2012, 0.2, 0.8518518518518519)
('61', 'University of Zurich', 'Switzerland', 56.7, 87.4, 45.9, 78.4, 43.5, 61.9, '26,583', 6.5, 2012, 0.19, 1.3255813953488371)
('62', 'Hong Kong University of Science and Technology', 'Hong Kong', 51.0, 80.1, 58.6, 71.0, 59.0, 61.7, '11,385', 23.8, 2012, 0.36, 0.0)
('63', 'École Polytechnique', 'France', 50.4, 86.1, 38.8, 89.1, 63.0, 61.5, '2,429', 4.8, 2012, 0.3, 0.2195121951219512)
('64', 'University of Massachusetts', 'United States of America', 54.0, 27.3, 58.3, 80.1, 53.2, 61.1, '56,959', 13.0, 2012, 0.11, 0.9607843137254902)
('65', 'McMaster University', 'Canada', 41.9, 72.0, 49.9, 85.5, 97.5, 61.0, '23,823', 19.3, 2012, 0.15, 1.127659574468085)
('66', 'University of Bristol', 'United Kingdom', 44.2, 73.7, 47.7, 89.9, 34.8, 60.9, '17,906', 14.0, 2012, 0.25, 1.127659574468085)
('67', 'KU Leuven', 'Belgium', 52.5, 56.7, 64.7, 63.0, 99.9, 60.8, '42,503', 41.9, 2012, 0.18, 1.173913043478261)
('68', 'Utrecht University', 'Netherlands', 42.8, 58.1, 53.2, 85.7, 59.3, 60.4, '30,779', 15.4, 2012, 0.07, 1.4390243902439024)
('69', 'University of Göttingen', 'Germany', 51.4, 48.0, 50.9, 84.1, 32.7, 60.3, '25,581', 25.6, 2012, 0.12, 1.0408163265306123)
('70', 'Vanderbilt University', 'United States of America', 52.1, 26.8, 47.6, 86.8, 64.4, 59.6, '12,161', 3.6, 2012, 0.1, 1.0833333333333333)
('71', 'Tsinghua University', 'China', 74.1, 33.4, 70.1, 37.4, 99.8, 59.5, '39,763', 13.7, 2012, 0.1, 0.4705882352941176)
('72', 'Rice University', 'United States of America', 45.9, 39.7, 38.0, 99.9, 36.2, 59.0, '6,333', 9.0, 2012, 0.26, 0.7857142857142857)
('73', 'Heidelberg University', 'Germany', 57.1, 62.3, 41.5, 78.5, 37.6, 58.7, '28,881', 24.5, 2012, 0.17, 1.2222222222222223)
('74', 'The University of Queensland', 'Australia', 47.5, 80.8, 52.3, 70.2, 62.6, 58.6, '34,718', 32.7, 2012, 0.27, 1.127659574468085)
('75', 'Emory University', 'United States of America', 48.4, 37.3, 39.8, 90.9, 34.4, 57.4, '12,338', 4.5, 2012, 0.18, 1.2727272727272727)
('75', 'Wageningen University and Research Center', 'Netherlands', 50.1, 75.9, 47.6, 66.3, 100.0, 57.4, '9,248', 17.0, 2012, 0.21, 1.2727272727272727)
('77', 'Tufts University', 'United States of America', 45.8, 41.3, 37.4, 94.5, 35.4, 57.3, '10,410', 10.0, 2012, 0.14, 1.173913043478261)
('77', 'University of Colorado Boulder', 'United States of America', 39.5, 30.8, 42.6, 98.2, 0.0, 57.3, '29,325', 16.1, 2012, 0.08, 0.8181818181818182)
('79', 'Leiden University', 'Netherlands', 45.4, 54.4, 55.3, 71.7, 48.6, 57.0, '21,222', 17.1, 2012, 0.1, 1.4390243902439024)
('80', 'Lund University', 'Sweden', 40.4, 61.2, 58.5, 72.8, 32.6, 56.9, '28,251', 11.5, 2012, 0.15, 0.0)
('81', 'Rutgers, the State University of New Jersey', 'United States of America', 51.6, 25.3, 60.0, 69.0, 0.0, 56.8, '37,032', 17.3, 2012, 0.08, 1.0408163265306123)
('81', 'University of Rochester', 'United States of America', 47.0, 45.7, 33.5, 94.5, 36.4, 56.8, '9,390', 4.5, 2012, 0.26, 0.9607843137254902)
('83', 'Durham University', 'United Kingdom', 32.5, 75.8, 37.9, 96.2, 30.5, 56.4, '15,489', 15.7, 2012, 0.24, 1.173913043478261)
('84', 'Pierre and Marie Curie University', 'France', 56.3, 66.7, 30.5, 81.1, 26.2, 56.0, '27,862', 8.7, 2012, 0.18, 0.9230769230769232)
('85', 'University of St Andrews', 'United Kingdom', 37.1, 89.1, 40.2, 83.0, 34.1, 55.7, '8,338', 12.7, 2012, 0.47, 1.2727272727272727)
('86', 'University of California, Irvine', 'United States of America', 36.2, 36.3, 42.3, 93.5, 45.6, 55.4, '26,614', 16.1, 2012, 0.16, 1.0833333333333333)
('87', 'Uppsala University', 'Sweden', 47.2, 59.1, 65.1, 53.3, 43.4, 55.2, '25,266', 18.2, 2012, 0.12, 1.3255813953488371)
('88', 'Technical University of Munich', 'Germany', 50.0, 65.2, 37.1, 76.3, 47.2, 55.1, '35,565', 31.5, 2012, 0.2, 0.4925373134328358)
('89', 'University of Notre Dame', 'United States of America', 42.6, 33.1, 36.2, 94.1, 27.3, 55.0, '11,829', 13.8, 2012, 0.1, 0.7857142857142857)
('90', 'Dartmouth College', 'United States of America', 44.8, 30.6, 38.7, 89.9, 0.0, 54.9, '6,178', 6.6, 2012, 0.16, 0.8867924528301887)
('91', 'University of Helsinki', 'Finland', 39.3, 46.8, 54.2, 75.1, 28.9, 54.8, '23,505', 15.1, 2012, 0.06, 1.9411764705882355)
('92', 'University of Amsterdam', 'Netherlands', 41.7, 56.4, 54.7, 68.3, 42.5, 54.7, '24,570', 14.4, 2012, 0.11, 1.127659574468085)
('93', 'Case Western Reserve University', 'United States of America', 54.2, 29.9, 40.2, 78.4, 0.0, 54.6, '9,259', 6.4, 2012, 0.17, 0.9230769230769232)
('94', 'Korea Advanced Institute of Science and Technology (KAIST)', 'South Korea', 64.2, 29.3, 54.6, 47.1, 100.0, 54.5, '9,027', 10.0, 2012, 0.09, 0.25)
('94', 'University of Maryland, College Park', 'United States of America', 41.1, 35.3, 43.6, 85.8, 28.5, 54.5, '31,331', 8.4, 2012, 0.09, 0.9230769230769232)
('96', 'Michigan State University', 'United States of America', 47.4, 34.0, 49.6, 73.6, 28.0, 54.4, '44,750', 15.7, 2012, 0.15, 1.0408163265306123)
('97', 'University of Arizona', 'United States of America', 45.1, 28.4, 43.0, 78.3, 86.0, 54.2, '36,429', 12.7, 2012, 0.08, 1.0833333333333333)
('98', 'Purdue University', 'United States of America', 56.6, 52.6, 49.4, 57.8, 0.0, 54.0, '39,256', 18.1, 2012, 0.22, 0.7241379310344828)
('99', 'University of Sussex', 'United Kingdom', 30.6, 79.8, 34.8, 92.0, 28.1, 53.9, '12,001', 17.4, 2012, 0.35, 1.173913043478261)
('100', 'University of Alberta', 'Canada', 50.6, 71.9, 54.4, 51.7, 53.7, 53.7, '36,299', 21.6, 2012, 0.23, 1.2222222222222223)
('101', 'University of Sheffield', 'United Kingdom', 44.6, 68.2, 46.0, 67.5, 40.2, 53.6, '23,311', 15.5, 2012, 0.31, 1.0)
('102', 'University of Glasgow', 'United Kingdom', 37.5, 68.1, 41.0, 77.5, 61.4, 53.4, '22,616', 16.0, 2012, 0.29, 1.3255813953488371)
('103', 'University of Cape Town', 'South Africa', 34.3, 73.9, 41.1, 75.3, 97.5, 53.2, '20,040', 12.1, 2012, 0.18, 1.127659574468085)
('104', 'Delft University of Technology', 'Netherlands', 53.5, 71.3, 66.1, 31.2, 100.0, 53.1, '15,920', 19.4, 2012, 0.25, 0.35135135135135137)
('104', 'University of Montreal', 'Canada', 54.5, 79.5, 47.0, 48.7, 81.3, 53.1, '38,264', 20.3, 2012, 0.25, 1.3255813953488371)
('106', 'Ghent University', 'Belgium', 41.1, 47.3, 52.2, 63.4, 97.8, 53.0, '32,166', 34.1, 2012, 0.09, 1.3255813953488371)
('107', 'Royal Holloway, University of London', 'United Kingdom', 28.6, 93.3, 24.1, 98.2, 25.9, 52.9, '8,747', 15.9, 2012, 0.37, 1.3255813953488371)
('108', 'Tokyo Institute of Technology', 'Japan', 56.0, 24.9, 58.9, 49.5, 66.3, 52.8, '9,586', 7.3, 2012, 0.13, 0.14942528735632185)
('109', 'Humboldt University of Berlin', 'Germany', 51.3, 64.5, 54.5, 50.1, 0.0, 52.6, '29,987', 52.5, 2012, 0.16, 0.0)
('110', 'University of California, Santa Cruz', 'United States of America', 28.5, 29.8, 36.6, 99.9, 29.5, 52.5, '17,404', 22.7, 2012, 0.01, 1.127659574468085)
('111', 'University of Basel', 'Switzerland', 38.9, 92.4, 21.9, 86.0, 48.6, 52.2, '12,551', 17.3, 2012, 0.24, 1.173913043478261)
('112', 'University of Bern', 'Switzerland', 43.0, 77.6, 34.6, 73.5, 38.2, 52.1, '14,708', 22.5, 2012, 0.14, 1.173913043478261)
('113', 'University of Utah', 'United States of America', 42.1, 23.3, 41.0, 82.3, 0.0, 51.9, '25,674', 16.9, 2012, 0.09, 0.8181818181818182)
('114', 'Stony Brook University', 'United States of America', 37.7, 56.5, 28.7, 88.3, 29.2, 51.4, '21,908', 10.9, 2012, 0.24, 1.0)
('115', 'Eindhoven University of Technology', 'Netherlands', 35.6, 67.3, 48.0, 62.1, 100.0, 51.3, '8,176', 16.0, 2012, 0.14, 0.2345679012345679)
('116', 'University of Lausanne', 'Switzerland', 27.5, 86.7, 40.4, 77.8, 40.3, 51.2, '11,964', 13.1, 2012, 0.22, 0.0)
('117', 'Monash University', 'Australia', 40.5, 75.8, 48.5, 57.1, 62.2, 51.1, '50,882', 40.5, 2012, 0.36, 1.2727272727272727)
('117', 'Trinity College Dublin', 'Republic of Ireland', 30.3, 89.4, 23.5, 91.7, 29.7, 51.1, '15,521', 18.0, 2012, 0.25, 1.3255813953488371)
('119', 'Osaka University', 'Japan', 61.8, 21.1, 56.5, 40.0, 75.0, 51.0, '23,144', 7.8, 2012, 0.09, 0.4492753623188406)
('120', 'Tohoku University', 'Japan', 57.7, 25.6, 55.7, 42.9, 78.9, 50.8, '17,200', 5.0, 2012, 0.07, 0.3333333333333333)
('121', 'Hebrew University of Jerusalem', 'Israel', 47.7, 53.0, 56.4, 48.4, 25.0, 50.4, '17,612', 10.7, 2012, 0.05, 1.2222222222222223)
('121', 'University of York', 'United Kingdom', 36.7, 72.7, 38.8, 71.6, 33.9, 50.4, '0', 0.0, 2012, 0.0, 0.0)
('123', 'Indiana University', 'United States of America', 46.8, 37.7, 34.5, 73.7, 0.0, 50.2, '62,468', 13.6, 2012, 0.13, 1.127659574468085)
('124', 'Seoul National University', 'South Korea', 64.6, 16.3, 50.8, 44.0, 42.6, 50.1, '26,389', 13.9, 2012, 0.1, 0.0)
('125', 'Aarhus University', 'Denmark', 30.7, 69.3, 49.0, 64.0, 67.0, 50.0, '23,895', 13.6, 2012, 0.14, 1.173913043478261)
('125', 'University of Florida', 'United States of America', 46.7, 25.9, 59.9, 50.9, 0.0, 50.0, '50,095', 18.7, 2012, 0.09, 1.173913043478261)
('127', 'Arizona State University', 'United States of America', 38.2, 26.1, 39.0, 80.3, 28.7, 49.9, '83,236', 29.9, 2012, 0.09, 1.0)
('127', 'Queen Mary University of London', 'United Kingdom', 29.0, 88.8, 28.6, 83.7, 36.6, 49.9, '14,260', 14.0, 2012, 0.4, 1.0833333333333333)
('127', 'University of Southampton', 'United Kingdom', 35.6, 78.3, 35.5, 72.5, 39.3, 49.9, '20,925', 13.5, 2012, 0.29, 1.127659574468085)
('130', 'University of Geneva', 'Switzerland', 34.9, 97.5, 39.0, 65.1, 32.7, 49.8, '15,668', 15.0, 2012, 0.39, 1.5641025641025639)
('131', 'Lancaster University', 'United Kingdom', 32.6, 78.6, 35.7, 75.4, 27.5, 49.7, '11,512', 14.9, 2012, 0.33, 1.0833333333333333)
('131', 'Stockholm University', 'Sweden', 25.0, 48.8, 36.0, 90.2, 26.8, 49.7, '31,715', 23.7, 2012, 0.08, 1.631578947368421)
('133', 'University of Leeds', 'United Kingdom', 44.6, 64.8, 43.9, 57.1, 36.4, 49.5, '27,703', 14.7, 2012, 0.21, 1.380952380952381)
('134', 'University of Groningen', 'Netherlands', 32.4, 47.3, 52.4, 62.4, 59.9, 49.2, '24,556', 25.6, 2012, 0.12, 1.0833333333333333)
('135', 'George Washington University', 'United States of America', 44.2, 38.3, 33.6, 73.2, 0.0, 49.0, '20,541', 12.0, 2012, 0.16, 1.2727272727272727)
('135', 'University of Copenhagen', 'Denmark', 37.8, 74.8, 31.6, 72.1, 37.0, 49.0, '27,545', 4.1, 2012, 0.19, 2.0303030303030303)
('135', 'University of Virginia', 'United States of America', 37.0, 26.4, 42.2, 74.7, 34.7, 49.0, '23,845', 10.2, 2012, 0.12, 1.0833333333333333)
('138', 'Georgetown University', 'United States of America', 52.5, 29.1, 40.4, 57.7, 0.0, 48.0, '15,408', 8.5, 2012, 0.14, 1.127659574468085)
('139', 'University of Vienna', 'Austria', 49.5, 86.6, 41.2, 45.2, 25.4, 47.9, '34,651', 20.5, 2012, 0.25, 2.0303030303030303)
('140', 'University of Nottingham', 'United Kingdom', 40.2, 72.6, 40.0, 57.6, 36.7, 47.7, '30,144', 15.0, 2012, 0.27, 1.173913043478261)
('141', 'University of Iowa', 'United States of America', 47.7, 21.9, 42.1, 61.3, 0.0, 47.6, '27,526', 11.6, 2012, 0.11, 1.0833333333333333)
('141', 'École Normale Supérieure de Lyon', 'France', 35.3, 58.8, 21.4, 85.1, 25.1, 47.6, '2,218', 8.0, 2012, 0.14, 0.9607843137254902)
('143', 'University of California, Riverside', 'United States of America', 27.8, 30.0, 30.9, 89.6, 31.0, 47.5, '20,626', 22.0, 2012, 0.12, 1.0408163265306123)
('144', 'Rensselaer Polytechnic Institute', 'United States of America', 31.7, 32.7, 40.4, 73.6, 49.0, 47.4, '6,671', 15.0, 2012, 0.16, 0.42857142857142855)
('145', 'University of East Anglia', 'United Kingdom', 26.5, 68.5, 26.1, 85.6, 28.0, 47.3, '14,992', 14.7, 2012, 0.28, 1.380952380952381)
('146', 'Newcastle University', 'United Kingdom', 34.2, 76.2, 28.4, 72.2, 32.3, 47.0, '20,174', 15.2, 2012, 0.29, 1.0)

('351-400', 'University of Turku', 'Finland', 24.3, 46.3, 21.8, 47.7, 32.1, 0.0, '12,326', 14.6, 2015, 0.05, 1.5641025641025639)
('351-400', 'University of Vermont', 'United States of America', 26.8, 21.0, 19.4, 57.5, 0.0, 0.0, '0', 0.0, 2015, 0.0, 0.0)
('351-400', 'University of Waikato', 'New Zealand', 18.6, 80.3, 17.0, 50.0, 50.0, 0.0, '10,159', 17.0, 2015, 0.25, 1.3255813953488371)
('351-400', 'Vrije Universiteit Brussel', 'Belgium', 31.2, 54.5, 17.9, 48.1, 44.8, 0.0, '9,020', 17.1, 2015, 0.16, 1.2222222222222223)
('351-400', 'Waseda University', 'Japan', 25.5, 43.1, 16.3, 55.5, 32.6, 0.0, '52,316', 16.9, 2015, 0.08, 0.5384615384615384)
('351-400', 'Washington State University', 'United States of America', 28.5, 36.0, 27.5, 44.2, 54.5, 0.0, '24,550', 18.3, 2015, 0.07, 1.0)
('351-400', 'Western Sydney University', 'Australia', 17.8, 50.1, 22.4, 58.7, 30.4, 0.0, '30,704', 32.2, 2015, 0.09, 1.2727272727272727)
('351-400', 'Wuhan University', 'China', 34.1, 33.1, 17.4, 48.5, 85.9, 0.0, '46,227', 14.4, 2015, 0.07, 0.0)
('351-400', 'Wuhan University of Technology', 'China', 16.2, 21.4, 8.0, 75.8, 57.8, 0.0, '50,260', 14.9, 2015, 0.02, 0.4492753623188406)

In [38]:
conn = sqlite3.connect(r'C:\Users\Thomas\Documents\dataproject\shanghai.db')

shanghai_data = pd.read_csv('2012_2015_shanghai.csv')
# Write the data to a sqlite table
shanghai_data.to_sql('shanghai_rankings', conn, if_exists='replace', index=False)
  
# Create a cursor object
cur = conn.cursor()
# Fetch and display result
for row in cur.execute('SELECT * FROM shanghai_rankings'):
    print(row)
# Close connection to SQLite database
conn.close()

('1', 'Harvard University', '1', 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 71.1, 2012)
('2', 'Stanford University', '2', 72.8, 38.0, 79.7, 88.9, 71.6, 69.6, 49.2, 2012)
('3', 'Massachusetts Institute of Technology (MIT)', '3', 71.8, 69.0, 83.2, 68.2, 69.2, 61.6, 64.1, 2012)
('4', 'University of California, Berkeley', '4', 71.6, 67.5, 80.9, 69.7, 68.5, 68.1, 53.4, 2012)
('5', 'University of Cambridge', '1', 69.8, 80.3, 97.2, 54.6, 55.0, 65.9, 52.1, 2012)
('6', 'California Institute of Technology', '5', 64.1, 48.5, 68.8, 57.4, 64.8, 46.2, 100.0, 2012)
('7', 'Princeton University', '6', 62.1, 52.3, 91.3, 62.2, 44.4, 44.5, 66.3, 2012)
('8', 'Columbia University', '7', 60.1, 64.2, 68.0, 57.4, 51.2, 67.8, 31.0, 2012)
('9', 'University of Chicago', '8', 57.2, 61.8, 85.3, 52.2, 40.6, 49.2, 38.9, 2012)
('10', 'University of Oxford', '2', 56.1, 51.2, 56.6, 48.9, 52.1, 68.9, 40.3, 2012)
('11', 'Yale University', '9', 54.8, 45.7, 45.5, 59.7, 58.0, 62.3, 35.9, 2012)
('12', 'University of California, Los Angeles', '10', 52.2, 27.7, 43.4, 57.7, 51.5, 72.2, 30.1, 2012)
('13', 'Cornell University', '11', 50.8, 38.7, 51.3, 54.9, 47.0, 55.5, 37.2, 2012)
('14', 'University of Pennsylvania', '12', 50.5, 33.4, 34.9, 57.9, 49.3, 67.9, 37.0, 2012)
('15', 'University of California, San Diego', '13', 49.6, 20.3, 36.6, 60.3, 52.8, 64.0, 34.1, 2012)
('16', 'University of Washington', '14', 48.4, 22.4, 32.5, 55.1, 51.2, 71.3, 27.2, 2012)
('17', 'The Johns Hopkins University', '15', 47.4, 39.9, 34.6, 42.2, 49.9, 69.5, 28.3, 2012)
('18', 'University of California, San Francisco', '16', 46.6, 0.0, 41.2, 53.7, 54.1, 60.6, 33.1, 2012)
('19', 'University of Wisconsin - Madison', '17', 45.4, 32.5, 35.9, 52.1, 39.8, 64.2, 24.7, 2012)
('20', 'The University of Tokyo', '1', 43.8, 32.5, 14.6, 42.5, 52.0, 73.7, 27.7, 2012)
('21', 'University College London', '3', 43.7, 29.7, 30.4, 39.6, 44.6, 67.1, 30.8, 2012)
('22', 'University of Michigan - Ann Arbor', '18', 43.4, 33.9, 0.0, 60.5, 44.6, 76.2, 24.8, 2012)
('23', 'Swiss Federal Institute of Technology Zurich', '1', 43.3, 31.2, 36.6, 36.7, 44.6, 53.9, 45.6, 2012)
('24', 'The Imperial College of Science, Technology and Medicine', '4', 42.4, 15.3, 36.9, 41.6, 39.6, 62.5, 35.6, 2012)
('25', 'University of Illinois at Urbana-Champaign', '19', 41.9, 31.6, 37.4, 43.3, 36.9, 56.1, 27.8, 2012)
('26', 'Kyoto University', '2', 41.3, 31.2, 35.1, 38.9, 36.4, 63.0, 23.0, 2012)
('27', 'New York University', '20', 40.8, 29.7, 32.9, 42.2, 41.0, 55.7, 22.6, 2012)
('27', 'University of Toronto', '1', 40.8, 21.0, 17.7, 39.0, 38.4, 79.1, 27.0, 2012)
('29', 'University of Minnesota, Twin Cities', '21', 39.7, 27.7, 16.8, 51.1, 33.5, 65.0, 24.9, 2012)
('30', 'Northwestern University', '22', 38.8, 16.3, 22.8, 48.5, 37.9, 58.1, 26.4, 2012)
('31', 'Washington University in St. Louis', '23', 37.6, 19.6, 25.7, 39.0, 43.7, 52.1, 24.7, 2012)
('32', 'Rockefeller University', '24', 37.0, 18.0, 61.6, 28.9, 41.8, 20.2, 36.0, 2012)
('33', 'University of Colorado at Boulder', '25', 36.6, 13.3, 31.6, 39.6, 39.9, 44.1, 31.8, 2012)
('34', 'University of California, Santa Barbara', '26', 36.5, 15.3, 36.2, 42.7, 32.4, 40.0, 37.0, 2012)
('35', 'The University of Texas at Austin', '27', 35.8, 17.1, 16.8, 45.7, 34.6, 56.0, 24.9, 2012)
('36', 'Duke University', '28', 35.2, 16.3, 0.0, 46.5, 42.1, 62.7, 22.3, 2012)
('37', 'University of Paris Sud (Paris 11)', '1', 34.9, 32.1, 55.9, 16.2, 20.0, 48.8, 25.4, 2012)
('38', 'University of Maryland, College Park', '29', 34.7, 20.3, 20.6, 41.5, 31.9, 51.7, 25.9, 2012)
('39', 'University of British Columbia', '2', 34.6, 16.3, 19.4, 32.4, 32.6, 64.2, 22.8, 2012)
('40', 'The University of Manchester', '5', 33.9, 19.6, 33.6, 27.7, 25.3, 56.5, 23.7, 2012)
('41', 'University of North Carolina at Chapel Hill', '30', 33.5, 9.4, 16.8, 39.6, 30.8, 59.2, 22.9, 2012)
('42', 'Karolinska Institute', '1', 33.4, 23.6, 27.4, 32.4, 23.2, 49.5, 35.6, 2012)
('42', 'Pierre and Marie  Curie University - Paris 6', '2', 33.4, 32.5, 19.4, 25.1, 31.0, 59.9, 21.5, 2012)
('44', 'University of Copenhagen', '1', 33.1, 23.0, 19.4, 25.9, 29.3, 58.6, 32.3, 2012)
('45', 'University of California, Irvine', '31', 32.2, 0.0, 30.2, 36.9, 29.5, 46.4, 26.6, 2012)
('46', 'University of Southern California', '32', 31.9, 0.0, 27.4, 39.6, 26.3, 52.1, 19.2, 2012)
('47', 'University of California, Davis', '33', 31.8, 0.0, 0.0, 47.3, 33.9, 60.4, 25.3, 2012)
('48', 'The University of Texas Southwestern Medical Center at Dallas', '34', 31.6, 19.6, 35.5, 30.6, 29.5, 37.0, 21.9, 2012)
('49', 'Pennsylvania State University - University Park', '35', 31.5, 10.8, 0.0, 47.1, 34.7, 54.8, 22.1, 2012)
('50', 'Vanderbilt University', '36', 31.4, 16.3, 29.9, 32.4, 21.9, 51.0, 18.8, 2012)
('51', 'Carnegie Mellon University', '37', 30.6, 33.4, 32.5, 30.7, 16.7, 35.1, 33.4, 2012)
('51', 'The University of Edinburgh', '6', 30.6, 21.7, 13.7, 27.1, 34.8, 50.0, 24.7, 2012)
('53', 'Technical University Munich', '1', 30.5, 36.8, 22.2, 24.6, 21.3, 47.2, 28.8, 2012)
('53', 'The Hebrew University of Jerusalem', '1', 30.5, 33.9, 29.1, 25.1, 23.0, 40.2, 28.0, 2012)
('53', 'Utrecht University', '1', 30.5, 24.3, 20.6, 29.9, 26.0, 47.3, 24.8, 2012)
('56', 'Purdue University - West Lafayette', '38', 30.2, 14.3, 23.8, 28.9, 25.6, 50.8, 20.8, 2012)
('57', 'University of Melbourne', '1', 30.1, 18.0, 13.7, 24.0, 22.7, 63.0, 27.1, 2012)
('58', 'University of Pittsburgh', '39', 30.0, 19.6, 0.0, 42.2, 23.5, 60.9, 18.0, 2012)
('59', 'University of Zurich', '2', 29.9, 5.4, 24.7, 25.9, 29.2, 50.1, 25.0, 2012)
('60', 'University of Munich', '2', 29.7, 27.1, 19.7, 16.2, 28.8, 51.4, 28.9, 2012)
('61', 'Rutgers, The State University of New Jersey - New Brunswick', '40', 29.6, 10.8, 19.4, 38.9, 26.0, 43.2, 21.9, 2012)
('62', 'University of Heidelberg', '3', 29.5, 14.3, 26.1, 19.1, 27.0, 49.4, 28.4, 2012)
('63', 'McGill University', '3', 29.3, 32.1, 0.0, 31.5, 24.6, 57.8, 24.5, 2012)
('64', 'The Australian National University', '2', 29.1, 14.3, 19.8, 32.3, 24.4, 43.1, 28.9, 2012)
('65', 'Brown University', '41', 29.0, 15.3, 13.7, 32.4, 28.3, 42.9, 31.9, 2012)
('65', 'The Ohio State University - Columbus', '41', 29.0, 13.3, 0.0, 40.5, 25.5, 59.5, 17.7, 2012)
('67', 'University of Oslo', '1', 28.9, 18.8, 33.6, 17.7, 15.9, 51.1, 25.4, 2012)
('68', "King's College London", '7', 28.6, 13.3, 21.7, 30.7, 17.7, 50.9, 22.3, 2012)
('69', 'University of Geneva', '3', 28.5, 23.0, 29.1, 20.5, 26.7, 37.0, 26.9, 2012)
('70', 'University of Bristol', '8', 28.4, 7.7, 16.8, 28.9, 29.6, 45.3, 27.3, 2012)
('71', 'Boston University', '43', 28.0, 12.1, 11.9, 29.8, 26.6, 51.2, 20.8, 2012)
('72', 'University of Florida', '44', 27.9, 18.0, 0.0, 37.4, 20.0, 60.4, 17.1, 2012)
('73', 'Ecole Normale Superieure - Paris', '3', 27.6, 50.0, 24.4, 12.4, 17.4, 27.3, 55.0, 2012)
('73', 'Leiden University', '2', 27.6, 18.8, 9.7, 28.9, 22.2, 47.6, 32.0, 2012)
('73', 'University of Helsinki', '1', 27.6, 13.3, 16.8, 24.0, 20.0, 52.7, 27.7, 2012)
('73', 'Uppsala University', '2', 27.6, 18.8, 28.3, 14.5, 22.0, 48.1, 23.9, 2012)
('77', 'University of Arizona', '45', 27.4, 15.3, 0.0, 29.8, 35.9, 49.3, 20.7, 2012)
('78', 'Technion-Israel Institute of Technology', '2', 26.9, 21.0, 38.8, 16.2, 16.9, 35.3, 25.6, 2012)
('79', 'Arizona State University - Tempe', '46', 26.6, 0.0, 20.6, 27.1, 29.2, 43.1, 18.6, 2012)
('80', 'Moscow State University', '1', 26.3, 43.7, 34.1, 0.0, 9.1, 48.1, 29.0, 2012)
('81', 'Stockholm University', '3', 26.1, 25.4, 28.3, 16.2, 19.8, 38.2, 23.1, 2012)
('82', 'University of Utah', '47', 26.0, 0.0, 11.9, 30.7, 25.9, 46.4, 23.0, 2012)
('83', 'Osaka University', '3', 25.9, 9.4, 0.0, 27.1, 28.7, 55.2, 20.5, 2012)
('84', 'Indiana University Bloomington', '48', 25.7, 10.8, 22.2, 27.1, 21.1, 39.1, 19.6, 2012)
('85', 'University of Basel', '4', 25.6, 20.3, 16.8, 24.9, 17.9, 37.7, 33.3, 2012)
('86', 'Aarhus University', '2', 25.5, 12.1, 22.8, 7.2, 23.9, 50.8, 26.6, 2012)
('86', 'University of Nottingham', '9', 25.5, 12.1, 20.6, 24.0, 17.7, 45.8, 19.9, 2012)
('86', 'University of Rochester', '49', 25.5, 26.0, 7.9, 28.0, 22.4, 41.5, 21.7, 2012)
('89', 'Ghent University', '1', 25.4, 5.4, 13.7, 17.7, 18.7, 55.6, 30.0, 2012)
('90', 'The University of Queensland', '3', 25.3, 13.3, 0.0, 21.7, 23.1, 58.7, 25.7, 2012)
('91', 'Rice University', '50', 25.1, 17.1, 22.4, 21.5, 23.9, 30.6, 30.0, 2012)
('92', 'McMaster University', '4', 25.0, 13.3, 19.4, 24.0, 15.6, 45.2, 21.5, 2012)
('93', 'Texas A&M University - College Station', '51', 24.6, 0.0, 0.0, 33.9, 22.5, 53.2, 19.2, 2012)
('93', 'University of Sydney', '4', 24.6, 15.3, 0.0, 19.1, 18.7, 62.3, 23.7, 2012)
('93', 'Weizmann Institute of Science', '3', 24.6, 13.3, 16.8, 24.0, 32.0, 28.4, 22.8, 2012)
('96', 'Michigan State University', '52', 24.4, 9.4, 0.0, 36.9, 16.3, 51.5, 18.0, 2012)
('96', 'Nagoya University', '4', 24.4, 23.0, 14.6, 16.2, 21.5, 44.7, 20.0, 2012)
('96', 'The University of Western Australia', '5', 24.4, 14.3, 14.6, 25.8, 13.3, 44.2, 26.7, 2012)
('99', 'Case Western Reserve University', '53', 24.3, 32.1, 11.2, 21.7, 18.7, 39.3, 22.2, 2012)
('99', 'University of Freiburg', '4', 24.3, 19.6, 19.4, 15.9, 24.0, 37.5, 22.9, 2012)
('101-150', 'Aix Marseille University', '4-7', 0.0, 14.3, 0.0, 16.2, 22.1, 44.3, 15.3, 2012)
('101-150', 'Baylor College of Medicine', '54-67', 0.0, 0.0, 0.0, 19.1, 32.3, 39.0, 19.3, 2012)
('101-150', 'Catholic University of Leuven', '2-3', 0.0, 0.0, 0.0, 22.9, 15.2, 53.3, 25.0, 2012)
('101-150', 'Catholic University of Louvain', '2-3', 0.0, 10.8, 13.7, 17.7, 10.8, 39.8, 26.6, 2012)
('101-150', 'Emory University', '54-67', 0.0, 0.0, 0.0, 32.4, 24.3, 49.4, 17.5, 2012)
('101-150', 'Georgia Institute of Technology', '54-67', 0.0, 13.3, 0.0, 26.0, 19.3, 44.2, 25.1, 2012)
('101-150', 'Hokkaido University', '5-7', 0.0, 12.1, 16.8, 14.5, 18.0, 45.3, 18.8, 2012)
('101-150', 'Joseph Fourier University (Grenoble 1)', '4-7', 0.0, 0.0, 15.3, 10.2, 22.8, 39.4, 18.1, 2012)
('101-150', 'London School of Economics and Political Science', '10-14', 0.0, 21.0, 16.8, 16.2, 0.0, 28.5, 26.0, 2012)
('101-150', 'Lund University', '4', 0.0, 22.4, 0.0, 25.1, 14.1, 48.9, 19.5, 2012)
('101-150', 'Mayo Medical School', '54-67', 0.0, 0.0, 0.0, 25.1, 14.8, 47.5, 24.0, 2012)
('101-150', 'Monash University', '6-7', 0.0, 0.0, 0.0, 14.5, 20.4, 53.8, 21.7, 2012)
('101-150', 'National Taiwan University', '1', 0.0, 12.1, 0.0, 17.7, 12.7, 59.5, 19.5, 2012)
('101-150', 'National University of Singapore', '1', 0.0, 0.0, 0.0, 10.2, 17.1, 57.5, 26.3, 2012)
('101-150', 'Radboud University Nijmegen', '3-7', 0.0, 17.1, 0.0, 7.2, 17.8, 50.0, 30.3, 2012)
('101-150', 'Seoul National University', '1', 0.0, 0.0, 0.0, 7.2, 16.2, 66.4, 21.2, 2012)
('101-150', 'Swiss Federal Institute of Technology of Lausanne', '5', 0.0, 0.0, 0.0, 24.0, 23.5, 40.8, 33.1, 2012)
('101-150', 'Tel Aviv University', '4', 0.0, 0.0, 0.0, 24.0, 16.6, 48.4, 24.4, 2012)
('101-150', 'The University of Georgia', '54-67', 0.0, 0.0, 0.0, 27.0, 21.0, 41.2, 17.9, 2012)
('101-150', 'The University of Sheffield', '10-14', 0.0, 18.8, 13.7, 19.5, 18.8, 44.0, 21.8, 2012)
('101-150', 'Tohoku University', '5-7', 0.0, 15.3, 0.0, 21.4, 23.2, 55.1, 20.7, 2012)
('101-150', 'Tokyo Institute of Technology', '5-7', 0.0, 13.3, 0.0, 21.7, 20.2, 40.3, 25.1, 2012)
('101-150', 'Tufts University', '54-67', 0.0, 15.3, 16.8, 22.9, 14.1, 36.6, 24.7, 2012)
('101-150', 'University of Alberta', '5-6', 0.0, 12.1, 0.0, 21.4, 22.1, 55.0, 20.7, 2012)
('101-150', 'University of Amsterdam', '3-7', 0.0, 5.4, 0.0, 19.1, 18.0, 52.8, 25.8, 2012)
('101-150', 'University of Birmingham', '10-14', 0.0, 19.6, 9.7, 21.6, 16.1, 44.7, 20.5, 2012)
('101-150', 'University of Bonn', '5-8', 0.0, 16.3, 20.4, 14.7, 21.1, 40.9, 23.2, 2012)
('101-150', 'University of California, Riverside', '54-67', 0.0, 13.3, 0.0, 27.1, 27.4, 33.5, 27.2, 2012)
('101-150', 'University of California, Santa Cruz', '54-67', 0.0, 0.0, 0.0, 28.9, 34.8, 30.5, 32.1, 2012)
('101-150', 'University of Delaware', '54-67', 0.0, 10.8, 16.8, 22.9, 11.6, 31.4, 18.6, 2012)
('101-150', 'University of Frankfurt', '5-8', 0.0, 32.1, 0.0, 19.1, 21.3, 38.5, 22.9, 2012)
('101-150', 'University of Goettingen', '5-8', 0.0, 28.7, 15.3, 16.2, 18.9, 39.6, 23.0, 2012)
('101-150', 'University of Groningen', '3-7', 0.0, 0.0, 19.4, 17.7, 18.3, 48.2, 26.9, 2012)
('101-150', 'University of Hawaii at Manoa', '54-67', 0.0, 0.0, 0.0, 26.1, 26.3, 36.1, 18.1, 2012)
('101-150', 'University of Iowa', '54-67', 0.0, 0.0, 0.0, 30.7, 23.2, 43.9, 17.8, 2012)
('101-150', 'University of Liverpool', '10-14', 0.0, 18.0, 13.7, 12.5, 18.4, 39.8, 20.4, 2012)
('101-150', 'University of Massachusetts Amherst', '54-67', 0.0, 14.3, 0.0, 33.9, 15.1, 36.1, 22.0, 2012)
('101-150', 'University of Massachusetts Medical School - Worcester', '54-67', 0.0, 0.0, 20.6, 14.5, 27.6, 27.5, 20.1, 2012)
('101-150', 'University of Montreal', '5-6', 0.0, 12.1, 0.0, 14.5, 19.9, 50.4, 19.8, 2012)
('101-150', 'University of Muenster', '5-8', 0.0, 20.3, 13.7, 12.2, 15.7, 36.4, 19.9, 2012)
('101-150', 'University of New South Wales', '6-7', 0.0, 0.0, 0.0, 20.4, 14.2, 53.5, 20.8, 2012)
('101-150', 'University of Paris Diderot (Paris 7)', '4-7', 0.0, 12.1, 9.7, 12.5, 26.8, 44.3, 17.1, 2012)
('101-150', 'University of Pisa', '1-2', 0.0, 14.3, 23.8, 14.5, 5.4, 37.0, 20.3, 2012)
('101-150', 'University of Roma - La Sapienza', '1-2', 0.0, 12.1, 13.7, 10.2, 15.3, 48.9, 15.5, 2012)
('101-150', 'University of Sao Paulo', '1', 0.0, 0.0, 0.0, 10.2, 10.8, 72.8, 14.9, 2012)
('101-150', 'University of Strasbourg', '4-7', 0.0, 26.6, 22.1, 17.7, 17.6, 36.0, 19.3, 2012)
('101-150', 'University of Sussex', '10-14', 0.0, 0.0, 23.1, 20.5, 13.9, 28.5, 26.3, 2012)
('101-150', 'University of Virginia', '54-67', 0.0, 0.0, 0.0, 33.9, 29.0, 45.1, 19.1, 2012)
('101-150', 'University of Wageningen', '3-7', 0.0, 0.0, 0.0, 28.2, 17.4, 39.3, 30.5, 2012)
('101-150', 'VU University Amsterdam', '3-7', 0.0, 0.0, 0.0, 24.0, 16.8, 51.3, 28.3, 2012)
('151-200', 'Cardiff University', '15-19', 0.0, 0.0, 16.8, 7.2, 20.0, 40.6, 17.9, 2012)
('151-200', 'Colorado State University', '68-85', 0.0, 0.0, 0.0, 30.7, 13.0, 34.8, 19.8, 2012)
('151-200', 'Dartmouth College', '68-85', 0.0, 18.8, 0.0, 24.0, 16.4, 29.0, 21.5, 2012)
('151-200', 'Erasmus University', '8', 0.0, 0.0, 15.3, 21.7, 6.3, 35.1, 24.5, 2012)
('151-200', 'George Mason University', '68-85', 0.0, 0.0, 32.9, 10.2, 10.2, 27.6, 17.6, 2012)
('151-200', 'Iowa State University', '68-85', 0.0, 0.0, 0.0, 22.9, 17.8, 41.8, 19.9, 2012)
('151-200', 'Kyushu University', '8-9', 0.0, 0.0, 0.0, 16.2, 17.8, 46.0, 17.5, 2012)
('151-200', 'Mount Sinai School of Medicine', '68-85', 0.0, 0.0, 0.0, 20.5, 23.5, 34.8, 18.6, 2012)
('151-200', 'National Autonomous University of Mexico', '1', 0.0, 13.3, 0.0, 6.6, 11.6, 47.3, 21.6, 2012)
('151-200', 'North Carolina State University - Raleigh', '68-85', 0.0, 0.0, 0.0, 28.0, 12.3, 41.6, 18.1, 2012)
('151-200', 'Oregon Health and Science University', '68-85', 0.0, 0.0, 0.0, 19.1, 22.0, 35.2, 20.9, 2012)
('151-200', 'Oregon State University', '68-85', 0.0, 10.8, 0.0, 26.1, 20.5, 33.6, 21.4, 2012)
('151-200', 'Peking University', '1-4', 0.0, 0.0, 0.0, 0.0, 15.2, 61.9, 17.4, 2012)
('151-200', 'Shanghai Jiao Tong University', '1-4', 0.0, 0.0, 0.0, 7.9, 9.1, 58.8, 17.9, 2012)
('151-200', 'State University of New York at Stony Brook', '68-85', 0.0, 0.0, 0.0, 19.6, 21.7, 36.4, 16.8, 2012)
('151-200', 'Technical University of Denmark', '3', 0.0, 5.4, 11.9, 17.6, 14.6, 38.3, 20.0, 2012)
('151-200', 'The Chinese University of Hong Kong', '1-2', 0.0, 0.0, 14.6, 16.1, 6.5, 42.6, 21.6, 2012)
('151-200', 'The University of Auckland', '1', 0.0, 14.3, 0.0, 10.2, 16.7, 38.5, 19.4, 2012)
('151-200', 'The University of Glasgow', '15-19', 0.0, 7.7, 0.0, 21.5, 17.2, 41.1, 20.1, 2012)
('151-200', 'The University of Hong Kong', '1-2', 0.0, 0.0, 0.0, 12.7, 14.3, 46.0, 21.6, 2012)
('151-200', 'The University of Texas Health Science Center at Houston', '68-85', 0.0, 0.0, 15.8, 17.7, 13.7, 30.5, 26.9, 2012)
('151-200', 'The University of Texas M. D. Anderson Cancer Center', '68-85', 0.0, 0.0, 0.0, 21.7, 19.3, 41.9, 27.4, 2012)
('151-200', 'Tsinghua University', '1-4', 0.0, 10.8, 0.0, 0.0, 17.3, 57.0, 16.4, 2012)
('151-200', 'University Libre Bruxelles', '4', 0.0, 17.1, 16.8, 12.5, 13.5, 31.8, 25.0, 2012)
('151-200', 'University of Bern', '6', 0.0, 13.3, 0.0, 12.5, 21.0, 39.6, 24.8, 2012)
('151-200', 'University of Buenos Aires', '1', 0.0, 15.3, 24.7, 0.0, 8.0, 36.0, 19.7, 2012)
('151-200', 'University of Gothenburg', '5', 0.0, 0.0, 15.8, 7.2, 10.9, 40.4, 17.0, 2012)
('151-200', 'University of Hamburg', '9-14', 0.0, 12.1, 0.0, 17.7, 16.9, 34.9, 18.8, 2012)
('151-200', 'University of Illinois at Chicago', '68-85', 0.0, 0.0, 0.0, 27.8, 13.7, 44.6, 17.4, 2012)
('151-200', 'University of Kiel', '9-14', 0.0, 10.8, 13.7, 10.2, 15.2, 31.6, 17.2, 2012)
('151-200', 'University of Koeln', '9-14', 0.0, 0.0, 11.9, 7.2, 19.8, 35.9, 18.7, 2012)
('151-200', 'University of Leeds', '15-19', 0.0, 18.0, 0.0, 14.5, 19.3, 43.9, 18.8, 2012)
('151-200', 'University of Mainz', '9-14', 0.0, 0.0, 7.9, 17.7, 16.1, 37.1, 19.4, 2012)
('151-200', 'University of Maryland, Baltimore', '68-85', 0.0, 0.0, 0.0, 24.0, 17.2, 37.1, 16.7, 2012)
('151-200', 'University of Miami', '68-85', 0.0, 0.0, 0.0, 24.0, 20.0, 41.2, 14.9, 2012)
('151-200', 'University of Milan', '3-4', 0.0, 18.0, 0.0, 18.4, 11.2, 44.8, 19.2, 2012)
('151-200', 'University of Nebraska - Lincoln', '68-85', 0.0, 18.0, 0.0, 16.2, 14.9, 34.7, 15.8, 2012)
('151-200', 'University of Padua', '3-4', 0.0, 0.0, 0.0, 12.5, 18.1, 47.5, 19.4, 2012)
('151-200', 'University of Paris Descartes (Paris 5)', '8', 0.0, 12.1, 9.7, 10.2, 17.6, 42.1, 15.3, 2012)
('151-200', 'University of Southampton', '15-19', 0.0, 0.0, 0.0, 19.3, 19.3, 43.2, 21.3, 2012)
('151-200', 'University of Tennessee - Knoxville', '68-85', 0.0, 10.8, 0.0, 21.7, 14.3, 38.2, 14.4, 2012)
('151-200', 'University of Tsukuba', '8-9', 0.0, 0.0, 20.2, 11.7, 10.8, 36.5, 15.2, 2012)
('151-200', 'University of Tuebingen', '9-14', 0.0, 23.6, 0.0, 14.5, 18.6, 39.9, 21.3, 2012)
('151-200', 'University of Vienna', '1', 0.0, 14.3, 0.0, 14.5, 20.7, 37.3, 21.7, 2012)
('151-200', 'University of Warwick', '15-19', 0.0, 0.0, 0.0, 25.1, 15.3, 37.7, 20.9, 2012)
('151-200', 'University of Waterloo', '7', 0.0, 0.0, 0.0, 19.1, 12.3, 41.0, 20.5, 2012)
('151-200', 'University of Wuerzburg', '9-14', 0.0, 20.3, 0.0, 23.6, 16.0, 34.0, 20.2, 2012)
('151-200', 'Virginia Commonwealth University', '68-85', 0.0, 10.8, 14.6, 17.7, 11.7, 33.5, 14.1, 2012)
('151-200', 'Virginia Polytechnic Institute and State University', '68-85', 0.0, 12.1, 0.0, 22.9, 12.3, 40.2, 17.5, 2012)
('151-200', 'Zhejiang University', '1-4', 0.0, 0.0, 0.0, 0.0, 12.3, 61.8, 17.1, 2012)
('201-300', 'Autonomous University of Madrid', '1-3', 0.0, 0.0, 0.0, 12.5, 13.7, 39.0, 16.6, 2012)
('201-300', 'Brandeis University', '86-109', 0.0, 20.3, 0.0, 7.2, 19.9, 18.8, 23.6, 2012)
('201-300', 'Charles University in Prague', '1', 0.0, 9.4, 0.0, 0.0, 12.3, 42.9, 18.1, 2012)
('201-300', 'City University of Hong Kong', '3-5', 0.0, 0.0, 0.0, 16.2, 0.0, 38.4, 21.1, 2012)
('201-300', 'Claude Bernard University Lyon 1', '9-13', 0.0, 10.8, 0.0, 0.0, 19.9, 40.4, 13.8, 2012)
('201-300', 'Complutense University of Madrid', '1-3', 0.0, 20.3, 0.0, 0.0, 8.2, 42.9, 11.0, 2012)
('201-300', 'Dalhousie University', '8-17', 0.0, 0.0, 0.0, 14.5, 14.2, 33.6, 16.8, 2012)
('201-300', 'Delft University of Technology', '9-10', 0.0, 12.1, 0.0, 7.2, 18.2, 37.7, 19.5, 2012)
('201-300', 'Dresden University of Technology', '15-24', 0.0, 0.0, 0.0, 7.2, 12.3, 37.9, 17.5, 2012)
('201-300', 'Florida State University', '86-109', 0.0, 0.0, 0.0, 19.1, 14.7, 38.5, 18.3, 2012)
('201-300', 'Fudan University', '5-7', 0.0, 0.0, 0.0, 7.1, 13.1, 51.5, 18.3, 2012)
('201-300', 'Karlsruhe Institute of Technology (KIT)', '15-24', 0.0, 0.0, 0.0, 9.8, 14.7, 36.1, 17.3, 2012)
('201-300', 'King Saud University', '1', 0.0, 0.0, 0.0, 31.6, 5.2, 39.6, 11.4, 2012)

In [37]:
conn = sqlite3.connect(r'C:\Users\Thomas\Documents\dataproject\cwur.db')

cwur_data = pd.read_csv('2012_2015_cwur.csv')
# Write the data to a sqlite table
cwur_data.to_sql('cwur_rankings', conn, if_exists='replace', index=False)
  
# Create a cursor object
cur = conn.cursor()
# Fetch and display result
for row in cur.execute('SELECT * FROM cwur_rankings'):
    print(row)
# Close connection to SQLite database
conn.close()

(1, 'Harvard University', 'USA', 1, 7, 9, 1, 1, 1, 1, 0.0, 5, 100.0, 2012)
(2, 'Massachusetts Institute of Technology', 'USA', 2, 9, 17, 3, 12, 4, 4, 0.0, 1, 91.67, 2012)
(3, 'Stanford University', 'USA', 3, 17, 11, 5, 4, 2, 2, 0.0, 15, 89.5, 2012)
(4, 'University of Cambridge', 'United Kingdom', 1, 10, 24, 4, 16, 16, 11, 0.0, 50, 86.17, 2012)
(5, 'California Institute of Technology', 'USA', 4, 2, 29, 7, 37, 22, 22, 0.0, 18, 85.21, 2012)
(6, 'Princeton University', 'USA', 5, 8, 14, 2, 53, 33, 26, 0.0, 101, 82.5, 2012)
(7, 'University of Oxford', 'United Kingdom', 2, 13, 28, 9, 15, 13, 19, 0.0, 26, 82.34, 2012)
(8, 'Yale University', 'USA', 6, 14, 31, 12, 14, 6, 15, 0.0, 66, 79.14, 2012)
(9, 'Columbia University', 'USA', 7, 23, 21, 10, 13, 12, 14, 0.0, 5, 78.86, 2012)
(10, 'University of California, Berkeley', 'USA', 8, 16, 52, 6, 6, 5, 3, 0.0, 16, 78.55, 2012)
(11, 'University of Chicago', 'USA', 9, 15, 26, 8, 34, 20, 28, 0.0, 101, 73.82, 2012)
(12, 'Cornell University', 'USA', 10, 21, 42, 14, 22, 21, 16, 0.0, 10, 73.69, 2012)
(13, 'University of Pennsylvania', 'USA', 11, 31, 16, 24, 9, 10, 8, 0.0, 9, 73.64, 2012)
(14, 'University of Tokyo', 'Japan', 1, 32, 19, 31, 8, 19, 23, 0.0, 3, 69.49, 2012)
(15, 'Johns Hopkins University', 'USA', 12, 34, 77, 20, 11, 9, 9, 0.0, 7, 66.94, 2012)
(16, 'Swiss Federal Institute of Technology in Zurich', 'Switzerland', 1, 26, 66, 11, 40, 51, 44, 0.0, 34, 66.69, 2012)
(17, 'Kyoto University', 'Japan', 2, 42, 38, 19, 25, 36, 43, 0.0, 23, 65.76, 2012)
(18, 'Weizmann Institute of Science', 'Israel', 1, 4, 101, 22, 101, 67, 101, 0.0, 29, 65.09, 2012)
(19, 'University of California, Los Angeles', 'USA', 13, 62, 59, 23, 3, 11, 6, 0.0, 13, 64.05, 2012)
(20, 'University of California, San Diego', 'USA', 14, 61, 101, 15, 10, 8, 10, 0.0, 22, 63.11, 2012)
(21, 'Rockefeller University', 'USA', 15, 1, 101, 16, 101, 28, 96, 0.0, 101, 61.74, 2012)
(22, 'Hebrew University of Jerusalem', 'Israel', 2, 24, 93, 13, 101, 91, 101, 0.0, 28, 60.76, 2012)
(23, 'New York University', 'USA', 16, 89, 75, 17, 42, 24, 34, 0.0, 62, 60.55, 2012)
(24, 'University of California, San Francisco', 'USA', 17, 101, 101, 21, 19, 3, 13, 0.0, 33, 59.7, 2012)
(25, 'University of Wisconsin–Madison', 'USA', 18, 64, 63, 33, 17, 30, 21, 0.0, 21, 59.66, 2012)
(26, 'University of Illinois at Urbana–Champaign', 'USA', 19, 82, 101, 18, 35, 71, 39, 0.0, 44, 59.0, 2012)
(27, 'Duke University', 'USA', 20, 65, 43, 55, 20, 15, 12, 0.0, 20, 58.37, 2012)
(28, 'Imperial College London', 'United Kingdom', 3, 84, 73, 35, 26, 26, 29, 0.0, 41, 57.53, 2012)
(29, 'University of Texas Southwestern Medical Center', 'USA', 21, 19, 101, 32, 101, 43, 84, 0.0, 101, 56.43, 2012)
(30, 'University of Texas at Austin', 'USA', 22, 101, 78, 27, 41, 47, 40, 0.0, 57, 56.18, 2012)
(31, 'University College London', 'United Kingdom', 4, 35, 101, 45, 27, 23, 33, 0.0, 86, 55.21, 2012)
(32, 'Osaka University', 'Japan', 3, 77, 101, 44, 39, 44, 51, 0.0, 11, 54.43, 2012)
(33, 'Northwestern University', 'USA', 23, 101, 32, 101, 24, 25, 20, 0.0, 35, 54.4, 2012)
(34, 'University of Michigan, Ann Arbor', 'USA', 24, 68, 60, 101, 2, 17, 7, 0.0, 8, 53.72, 2012)
(35, 'University of Toronto', 'Canada', 1, 101, 101, 34, 7, 14, 18, 0.0, 101, 53.43, 2012)
(36, 'University of North Carolina at Chapel Hill', 'USA', 25, 101, 86, 56, 31, 29, 31, 0.0, 29, 53.09, 2012)
(37, 'Washington University in St. Louis', 'USA', 26, 74, 62, 101, 32, 18, 30, 0.0, 14, 52.9, 2012)
(38, 'University of Utah', 'USA', 27, 92, 101, 41, 74, 52, 67, 0.0, 12, 52.64, 2012)
(39, 'University of Washington - Seattle', 'USA', 28, 101, 101, 40, 5, 7, 5, 0.0, 101, 52.25, 2012)
(40, 'University of California, Santa Barbara', 'USA', 29, 101, 101, 28, 68, 72, 36, 0.0, 101, 52.15, 2012)
(41, 'McGill University', 'Canada', 2, 70, 91, 54, 33, 39, 47, 0.0, 101, 51.72, 2012)
(42, 'Purdue University, West Lafayette', 'USA', 30, 95, 70, 49, 61, 101, 58, 0.0, 19, 51.66, 2012)
(43, 'Carnegie Mellon University', 'USA', 31, 30, 81, 26, 101, 101, 61, 0.0, 101, 51.6, 2012)
(44, 'University of Southern California', 'USA', 32, 101, 101, 63, 46, 48, 32, 0.0, 23, 51.38, 2012)
(45, 'University of California, Davis', 'USA', 33, 79, 101, 92, 23, 40, 25, 0.0, 32, 51.06, 2012)
(46, 'University of Colorado Boulder', 'USA', 34, 83, 88, 48, 71, 54, 56, 0.0, 101, 50.68, 2012)
(47, 'University of California, Irvine', 'USA', 35, 101, 101, 38, 59, 57, 52, 0.0, 65, 50.64, 2012)
(48, 'University of Paris-Sud', 'France', 1, 48, 101, 25, 73, 96, 101, 0.0, 101, 50.44, 2012)
(49, 'University of Minnesota, Twin Cities', 'USA', 36, 101, 101, 85, 18, 31, 17, 0.0, 84, 50.3, 2012)
(50, 'University of Arizona', 'USA', 37, 101, 101, 88, 45, 42, 45, 0.0, 27, 50.29, 2012)
(51, 'Technion – Israel Institute of Technology', 'Israel', 3, 45, 89, 36, 101, 101, 101, 0.0, 51, 50.01, 2012)
(52, 'Ohio State University, Columbus', 'USA', 38, 101, 101, 83, 30, 50, 35, 0.0, 54, 49.54, 2012)
(53, 'University of Rochester', 'USA', 39, 41, 54, 101, 82, 68, 54, 0.0, 62, 49.51, 2012)
(54, 'École normale supérieure - Paris', 'France', 2, 3, 61, 77, 101, 101, 101, 0.0, 101, 49.1, 2012)
(55, 'University of Florida', 'USA', 40, 101, 101, 96, 29, 74, 42, 0.0, 2, 48.8, 2012)
(56, 'Tel Aviv University', 'Israel', 4, 97, 101, 51, 72, 101, 101, 0.0, 35, 48.76, 2012)
(57, 'Rice University', 'USA', 41, 28, 53, 94, 101, 101, 53, 0.0, 101, 48.76, 2012)
(58, 'Dartmouth College', 'USA', 42, 27, 13, 101, 101, 101, 101, 0.0, 92, 48.5, 2012)
(59, 'Vanderbilt University', 'USA', 43, 80, 72, 101, 50, 35, 49, 0.0, 101, 48.44, 2012)
(60, 'University of Edinburgh', 'United Kingdom', 1, 71, 101, 43, 64, 41, 70, 0.0, 101, 48.43, 2012)
(61, 'École Polytechnique', 'France', 3, 47, 3, 101, 101, 101, 101, 0.0, 101, 48.33, 2012)
(62, 'Boston University', 'USA', 44, 101, 101, 86, 48, 34, 37, 0.0, 101, 48.31, 2012)
(63, 'Pierre-and-Marie-Curie University', 'France', 4, 54, 101, 84, 36, 53, 78, 0.0, 101, 48.26, 2012)
(64, 'Pennsylvania State University, University Park', 'USA', 45, 101, 94, 101, 38, 60, 27, 0.0, 99, 48.15, 2012)
(65, 'University of Geneva', 'Switzerland', 2, 46, 101, 29, 101, 93, 101, 0.0, 101, 47.94, 2012)
(66, 'Brown University', 'USA', 46, 49, 37, 65, 101, 73, 92, 0.0, 101, 47.91, 2012)
(67, 'University of British Columbia', 'Canada', 3, 101, 101, 93, 28, 38, 48, 0.0, 101, 47.74, 2012)
(68, 'University of Maryland, College Park', 'USA', 47, 85, 101, 50, 47, 55, 41, 0.0, 101, 47.69, 2012)
(69, 'Swiss Federal Institute of Technology in Lausanne', 'Switzerland', 3, 101, 30, 82, 101, 101, 101, 0.0, 74, 47.68, 2012)
(70, 'Karolinska Institute', 'Sweden', 1, 51, 101, 42, 84, 49, 95, 0.0, 101, 47.61, 2012)
(71, 'University of Pittsburgh - Pittsburgh Campus', 'USA', 48, 81, 101, 101, 21, 32, 24, 0.0, 61, 47.59, 2012)
(72, 'Rutgers University-New Brunswick', 'USA', 49, 101, 101, 59, 80, 83, 72, 0.0, 85, 47.5, 2012)
(73, 'Texas A&M University, College Station', 'USA', 50, 101, 101, 46, 58, 101, 80, 0.0, 101, 47.31, 2012)
(74, 'Nagoya University', 'Japan', 4, 56, 101, 69, 101, 101, 101, 0.0, 46, 46.89, 2012)
(75, 'Seoul National University', 'South Korea', 1, 101, 34, 101, 44, 101, 69, 0.0, 4, 46.74, 2012)
(76, 'University of Manchester', 'United Kingdom', 5, 101, 101, 75, 52, 70, 63, 0.0, 101, 46.38, 2012)
(77, 'Sapienza University of Rome', 'Italy', 1, 101, 101, 30, 70, 101, 101, 0.0, 101, 46.34, 2012)
(78, 'Case Western Reserve University', 'USA', 51, 33, 101, 101, 96, 63, 65, 0.0, 101, 46.11, 2012)
(79, 'Tohoku University', 'Japan', 5, 53, 101, 101, 49, 100, 67, 0.0, 29, 45.82, 2012)
(80, 'Arizona State University', 'USA', 52, 101, 101, 70, 101, 101, 77, 0.0, 49, 45.7, 2012)
(81, 'Emory University', 'USA', 53, 101, 97, 101, 54, 37, 50, 0.0, 46, 45.47, 2012)
(82, 'Ruprecht Karl University of Heidelberg', 'Germany', 1, 87, 101, 52, 86, 58, 100, 0.0, 101, 45.33, 2012)
(83, 'Ludwig Maximilian University of Munich', 'Germany', 2, 90, 101, 90, 60, 45, 62, 0.0, 101, 45.21, 2012)
(84, 'University of Virginia', 'USA', 54, 101, 50, 101, 76, 62, 57, 0.0, 86, 45.2, 2012)
(85, 'Leiden University', 'Netherlands', 1, 88, 101, 76, 81, 65, 101, 0.0, 101, 45.13, 2012)
(86, 'Tufts University', 'USA', 55, 60, 41, 101, 101, 95, 75, 0.0, 101, 44.91, 2012)
(87, 'Georgia Institute of Technology', 'USA', 56, 101, 67, 101, 79, 101, 46, 0.0, 40, 44.71, 2012)
(88, 'University of Zurich', 'Switzerland', 4, 101, 101, 80, 101, 69, 99, 0.0, 101, 44.51, 2012)
(89, 'University of Helsinki', 'Finland', 1, 96, 101, 79, 62, 64, 54, 0.0, 101, 44.44, 2012)
(90, 'Technical University of Munich', 'Germany', 3, 52, 101, 101, 91, 76, 94, 0.0, 101, 44.32, 2012)
(91, 'University of Oslo', 'Norway', 1, 101, 101, 39, 101, 101, 101, 0.0, 101, 44.26, 2012)
(92, 'University of Queensland', 'Australia', 1, 101, 101, 101, 67, 90, 89, 0.0, 46, 44.18, 2012)
(93, 'University of Copenhagen', 'Denmark', 1, 101, 101, 60, 85, 66, 101, 0.0, 101, 44.15, 2012)
(94, 'University of Sydney', 'Australia', 2, 101, 101, 101, 56, 92, 85, 0.0, 69, 44.13, 2012)
(95, 'Williams College', 'USA', 57, 18, 15, 101, 101, 101, 101, 0.0, 101, 43.89, 2012)
(96, 'University of Texas MD Anderson Cancer Center', 'USA', 58, 101, 101, 101, 95, 46, 66, 0.0, 100, 43.88, 2012)
(97, 'University of Nottingham', 'United Kingdom', 6, 101, 101, 87, 101, 101, 101, 0.0, 92, 43.79, 2012)
(98, 'University of Bristol', 'United Kingdom', 7, 101, 101, 78, 75, 81, 86, 0.0, 101, 43.77, 2012)
(99, 'Utrecht University', 'Netherlands', 2, 100, 101, 101, 65, 101, 60, 0.0, 101, 43.47, 2012)
(100, 'Mines ParisTech', 'France', 5, 44, 4, 101, 101, 101, 101, 0.0, 101, 43.36, 2012)
(1, 'Harvard University', 'USA', 1, 1, 1, 1, 1, 1, 1, 0.0, 7, 100.0, 2013)
(2, 'Stanford University', 'USA', 2, 11, 2, 4, 6, 2, 2, 0.0, 11, 93.94, 2013)
(3, 'University of Oxford', 'United Kingdom', 1, 7, 12, 10, 11, 7, 13, 0.0, 15, 92.54, 2013)
(4, 'Massachusetts Institute of Technology', 'USA', 3, 2, 16, 2, 16, 3, 3, 0.0, 1, 91.45, 2013)
(5, 'University of Cambridge', 'United Kingdom', 2, 3, 15, 5, 9, 11, 10, 0.0, 39, 90.24, 2013)
(6, 'Columbia University', 'USA', 4, 13, 8, 9, 13, 9, 11, 0.0, 10, 88.21, 2013)
(7, 'University of California, Berkeley', 'USA', 5, 6, 28, 6, 8, 6, 4, 0.0, 19, 85.07, 2013)
(8, 'Princeton University', 'USA', 6, 4, 14, 3, 58, 35, 27, 0.0, 101, 82.17, 2013)
(9, 'University of Chicago', 'USA', 7, 9, 19, 8, 37, 21, 30, 0.0, 101, 79.16, 2013)
(10, 'Yale University', 'USA', 8, 10, 25, 13, 20, 12, 22, 0.0, 42, 78.83, 2013)
(11, 'California Institute of Technology', 'USA', 9, 5, 101, 7, 38, 24, 25, 0.0, 17, 77.59, 2013)
(12, 'University of Pennsylvania', 'USA', 10, 22, 5, 25, 10, 10, 9, 0.0, 14, 77.24, 2013)
(13, 'Cornell University', 'USA', 11, 12, 23, 18, 21, 19, 15, 0.0, 7, 76.99, 2013)
(14, 'University of Tokyo', 'Japan', 1, 17, 3, 32, 14, 23, 29, 0.0, 5, 76.23, 2013)
(15, 'Kyoto University', 'Japan', 2, 32, 17, 14, 28, 46, 58, 0.0, 13, 69.46, 2013)
(16, 'University of California, Los Angeles', 'USA', 12, 38, 35, 12, 5, 15, 6, 0.0, 12, 67.84, 2013)
(17, 'Johns Hopkins University', 'USA', 13, 23, 96, 21, 4, 5, 7, 0.0, 2, 65.64, 2013)
(18, 'Swiss Federal Institute of Technology in Zurich', 'Switzerland', 1, 16, 60, 11, 40, 53, 55, 0.0, 60, 64.99, 2013)
(19, 'New York University', 'USA', 14, 37, 31, 16, 41, 25, 33, 0.0, 51, 63.99, 2013)
(20, 'University of California, San Diego', 'USA', 15, 33, 101, 19, 15, 14, 14, 0.0, 22, 63.12, 2013)
(21, 'Hebrew University of Jerusalem', 'Israel', 1, 15, 101, 15, 101, 96, 101, 0.0, 24, 59.98, 2013)
(22, 'University of California, San Francisco', 'USA', 16, 101, 101, 22, 23, 4, 18, 0.0, 63, 59.38, 2013)
(23, 'University of Wisconsin–Madison', 'USA', 17, 31, 55, 33, 19, 29, 20, 0.0, 30, 58.94, 2013)
(24, 'University of Illinois at Urbana–Champaign', 'USA', 18, 65, 101, 20, 33, 66, 34, 0.0, 67, 58.33, 2013)
(25, 'Duke University', 'USA', 19, 89, 42, 46, 22, 17, 17, 0.0, 24, 57.72, 2013)
(26, 'University of Texas at Austin', 'USA', 20, 101, 56, 24, 46, 84, 37, 0.0, 20, 57.71, 2013)
(27, 'Imperial College London', 'United Kingdom', 3, 101, 92, 35, 17, 22, 19, 0.0, 48, 56.75, 2013)
(28, 'Northwestern University', 'USA', 21, 101, 21, 101, 27, 26, 24, 0.0, 30, 56.12, 2013)
(29, 'University of Toronto', 'Canada', 1, 91, 81, 34, 2, 13, 12, 0.0, 101, 56.11, 2013)
(30, 'University College London', 'United Kingdom', 4, 24, 101, 49, 12, 16, 21, 0.0, 73, 56.0, 2013)
(31, 'University of Washington - Seattle', 'USA', 22, 101, 101, 41, 7, 8, 5, 0.0, 51, 55.79, 2013)
(32, 'University of Michigan, Ann Arbor', 'USA', 23, 35, 27, 101, 3, 18, 8, 0.0, 6, 55.77, 2013)
(33, 'Weizmann Institute of Science', 'Israel', 2, 18, 101, 23, 101, 85, 101, 0.0, 48, 54.34, 2013)
(34, 'University of North Carolina at Chapel Hill', 'USA', 24, 101, 101, 60, 30, 27, 26, 0.0, 42, 52.87, 2013)
(35, 'Osaka University', 'Japan', 3, 77, 91, 44, 55, 56, 72, 0.0, 17, 52.79, 2013)
(36, 'University of Paris-Sud', 'France', 1, 26, 101, 26, 73, 101, 101, 0.0, 101, 51.72, 2013)
(37, 'University of California, Santa Barbara', 'USA', 25, 101, 101, 28, 89, 91, 38, 0.0, 101, 51.67, 2013)
(38, 'Purdue University, West Lafayette', 'USA', 26, 95, 39, 52, 71, 101, 65, 0.0, 36, 51.59, 2013)
(39, 'University of Southern California', 'USA', 27, 101, 99, 56, 56, 52, 36, 0.0, 40, 51.56, 2013)
(40, 'Seoul National University', 'South Korea', 1, 101, 13, 101, 48, 101, 76, 0.0, 4, 51.31, 2013)
(41, 'University of Colorado Boulder', 'USA', 28, 82, 84, 38, 75, 68, 54, 0.0, 101, 51.16, 2013)
(42, 'University of Utah', 'USA', 29, 101, 101, 42, 93, 61, 85, 0.0, 27, 51.14, 2013)
(43, 'Rutgers University-New Brunswick', 'USA', 30, 101, 101, 48, 43, 58, 45, 0.0, 96, 51.09, 2013)
(44, 'University of Minnesota, Twin Cities', 'USA', 31, 101, 101, 87, 18, 31, 16, 0.0, 67, 50.98, 2013)
(45, 'University of Edinburgh', 'United Kingdom', 5, 47, 101, 45, 52, 36, 63, 0.0, 101, 50.98, 2013)
(46, 'University of Texas Southwestern Medical Center', 'USA', 32, 46, 101, 29, 101, 28, 82, 0.0, 101, 50.79, 2013)
(47, 'McGill University', 'Canada', 2, 54, 62, 59, 34, 42, 48, 0.0, 101, 50.77, 2013)
(48, 'Pierre-and-Marie-Curie University', 'France', 2, 19, 101, 84, 31, 50, 78, 0.0, 81, 50.58, 2013)
(49, 'Rockefeller University', 'USA', 33, 55, 101, 17, 101, 34, 101, 0.0, 101, 50.43, 2013)
(50, 'Pennsylvania State University, University Park', 'USA', 34, 101, 72, 101, 29, 54, 23, 0.0, 67, 49.84, 2013)
(51, 'Carnegie Mellon University', 'USA', 35, 30, 101, 27, 101, 101, 74, 0.0, 101, 49.56, 2013)
(52, 'Ohio State University, Columbus', 'USA', 36, 101, 101, 86, 32, 55, 35, 0.0, 60, 49.41, 2013)
(53, 'University of California, Davis', 'USA', 37, 60, 101, 94, 26, 47, 31, 0.0, 90, 49.16, 2013)
(54, 'Boston University', 'USA', 38, 101, 69, 88, 54, 37, 41, 0.0, 100, 48.96, 2013)
(55, 'University of Florida', 'USA', 39, 101, 101, 98, 35, 92, 42, 0.0, 9, 48.93, 2013)
(56, 'University of Geneva', 'Switzerland', 2, 52, 101, 30, 101, 78, 101, 0.0, 101, 48.83, 2013)
(57, 'Tel Aviv University', 'Israel', 3, 84, 101, 54, 83, 101, 101, 0.0, 32, 48.72, 2013)
(58, 'University of British Columbia', 'Canada', 3, 101, 101, 95, 25, 39, 39, 0.0, 100, 48.51, 2013)
(59, 'University of Maryland, College Park', 'USA', 40, 79, 101, 53, 49, 77, 40, 0.0, 101, 48.39, 2013)
(60, 'Karolinska Institute', 'Sweden', 1, 101, 101, 47, 64, 38, 62, 0.0, 101, 47.98, 2013)
(61, 'Vanderbilt University', 'USA', 41, 101, 101, 101, 53, 40, 60, 0.0, 40, 47.8, 2013)
(62, 'Sapienza University of Rome', 'Italy', 1, 101, 101, 31, 76, 101, 101, 0.0, 101, 47.75, 2013)
(63, 'Washington University in St. Louis', 'USA', 42, 101, 101, 101, 36, 20, 32, 0.0, 101, 47.72, 2013)
(64, 'École normale supérieure - Paris', 'France', 3, 8, 101, 57, 101, 101, 101, 0.0, 101, 47.7, 2013)
(65, 'University of California, Irvine', 'USA', 43, 101, 101, 39, 69, 67, 61, 0.0, 101, 47.52, 2013)
(66, 'Technion – Israel Institute of Technology', 'Israel', 4, 50, 101, 36, 101, 101, 101, 0.0, 73, 47.45, 2013)
(67, 'Ludwig Maximilian University of Munich', 'Germany', 1, 62, 101, 92, 67, 49, 67, 0.0, 101, 47.25, 2013)
(68, 'University of Copenhagen', 'Denmark', 1, 101, 101, 63, 42, 43, 51, 0.0, 101, 47.12, 2013)
(69, 'University of Pittsburgh - Pittsburgh Campus', 'USA', 44, 80, 101, 101, 24, 33, 28, 0.0, 44, 47.08, 2013)
(70, 'Keio University', 'Japan', 4, 101, 6, 101, 101, 101, 101, 0.0, 73, 47.05, 2013)
(71, 'University of Virginia', 'USA', 45, 101, 24, 101, 88, 73, 68, 0.0, 63, 46.92, 2013)
(72, 'University of Manchester', 'United Kingdom', 6, 101, 101, 76, 47, 63, 57, 0.0, 101, 46.85, 2013)
(73, 'Arizona State University', 'USA', 46, 101, 101, 73, 101, 101, 89, 0.0, 20, 46.72, 2013)
(74, 'University of Zurich', 'Switzerland', 3, 101, 101, 82, 59, 48, 52, 0.0, 101, 46.54, 2013)
(75, "King's College London", 'United Kingdom', 7, 41, 101, 101, 45, 45, 44, 0.0, 101, 46.53, 2013)
(76, 'University of Rochester', 'USA', 47, 63, 80, 101, 101, 86, 66, 0.0, 51, 46.44, 2013)
(77, 'Brown University', 'USA', 48, 59, 52, 67, 101, 89, 96, 0.0, 101, 46.43, 2013)
(78, 'University of Arizona', 'USA', 49, 101, 101, 90, 60, 57, 49, 0.0, 101, 46.39, 2013)
(79, 'Ruprecht Karl University of Heidelberg', 'Germany', 2, 73, 101, 55, 82, 59, 100, 0.0, 101, 46.24, 2013)
(80, 'Texas A&M University, College Station', 'USA', 50, 101, 101, 50, 72, 101, 88, 0.0, 101, 46.17, 2013)
(81, 'University of Oslo', 'Norway', 1, 101, 101, 40, 101, 101, 101, 0.0, 101, 46.1, 2013)
(82, 'Dartmouth College', 'USA', 51, 45, 20, 101, 101, 101, 101, 0.0, 78, 46.04, 2013)
(83, 'Swiss Federal Institute of Technology in Lausanne', 'Switzerland', 4, 101, 101, 85, 101, 101, 83, 0.0, 54, 45.73, 2013)
(84, 'Utrecht University', 'Netherlands', 1, 101, 101, 101, 39, 44, 47, 0.0, 101, 45.73, 2013)
(85, 'Indiana University - Bloomington', 'USA', 52, 101, 48, 101, 50, 72, 59, 0.0, 101, 45.71, 2013)
(86, 'École Polytechnique', 'France', 4, 101, 4, 101, 101, 101, 101, 0.0, 101, 45.38, 2013)
(87, 'National University of Singapore', 'Singapore', 1, 101, 101, 101, 44, 101, 50, 0.0, 27, 45.2, 2013)
(88, 'University of Texas MD Anderson Cancer Center', 'USA', 53, 101, 101, 101, 90, 32, 56, 0.0, 101, 45.12, 2013)
(89, 'Stony Brook University', 'USA', 54, 101, 101, 68, 101, 101, 98, 0.0, 90, 45.01, 2013)
(90, 'Lomonosov Moscow State University', 'Russia', 1, 14, 101, 51, 101, 101, 101, 0.0, 101, 44.93, 2013)
(91, 'Nagoya University', 'Japan', 5, 72, 101, 71, 101, 101, 101, 0.0, 58, 44.78, 2013)
(92, 'University of Sydney', 'Australia', 1, 101, 101, 101, 61, 101, 101, 0.0, 48, 44.77, 2013)
(93, 'Emory University', 'USA', 55, 101, 101, 101, 66, 41, 53, 0.0, 81, 44.53, 2013)
(94, 'Rice University', 'USA', 56, 51, 101, 97, 101, 101, 64, 0.0, 81, 44.53, 2013)
(95, 'Tohoku University', 'Japan', 6, 43, 101, 101, 65, 101, 91, 0.0, 26, 44.52, 2013)
(96, 'Australian National University', 'Australia', 2, 101, 101, 43, 101, 101, 101, 0.0, 101, 44.5, 2013)
(97, 'University of Alberta', 'Canada', 4, 101, 101, 101, 68, 101, 92, 0.0, 81, 44.5, 2013)
(98, 'University of Helsinki', 'Finland', 1, 69, 101, 81, 74, 79, 71, 0.0, 101, 44.39, 2013)
(99, 'Paris Diderot University - Paris 7', 'France', 5, 28, 101, 72, 101, 87, 101, 0.0, 101, 44.36, 2013)
(100, 'Georgia Institute of Technology', 'USA', 57, 101, 85, 101, 97, 101, 43, 0.0, 32, 44.26, 2013)
(1, 'Harvard University', 'USA', 1, 1, 1, 1, 1, 1, 1, 1.0, 2, 100.0, 2014)
(2, 'Stanford University', 'USA', 2, 11, 2, 4, 5, 3, 3, 4.0, 6, 99.09, 2014)
(3, 'Massachusetts Institute of Technology', 'USA', 3, 3, 11, 2, 15, 2, 2, 2.0, 1, 98.69, 2014)
(4, 'University of Cambridge', 'United Kingdom', 1, 2, 10, 5, 10, 9, 12, 13.0, 48, 97.64, 2014)
(5, 'University of Oxford', 'United Kingdom', 2, 7, 12, 10, 11, 12, 11, 12.0, 16, 97.51, 2014)
(6, 'Columbia University', 'USA', 4, 13, 8, 9, 14, 13, 9, 13.0, 4, 97.41, 2014)
(7, 'University of California, Berkeley', 'USA', 5, 4, 22, 6, 7, 4, 3, 7.0, 28, 92.84, 2014)
(8, 'University of Chicago', 'USA', 6, 10, 14, 8, 17, 19, 10, 18.0, 149, 92.03, 2014)
(9, 'Princeton University', 'USA', 7, 5, 16, 3, 70, 25, 19, 41.0, 204, 88.56, 2014)

(455, 'University of Saskatchewan', 'Canada', 20, 336, 278, 218, 335, 442, 287, 457.0, 427, 44.92, 2015)
(456, 'University of Parma', 'Italy', 24, 367, 356, 218, 438, 463, 368, 381.0, 741, 44.92, 2015)
(457, 'Kanazawa University', 'Japan', 18, 367, 416, 218, 474, 419, 511, 381.0, 350, 44.92, 2015)
(458, 'Eötvös Loránd University', 'Hungary', 1, 89, 567, 116, 559, 444, 287, 495.0, 724, 44.92, 2015)
(459, 'Aristotle University of Thessaloniki', 'Greece', 2, 367, 567, 218, 340, 683, 511, 381.0, 756, 44.92, 2015)
(460, 'Ohio University', 'USA', 149, 205, 174, 218, 590, 472, 812, 565.0, 224, 44.91, 2015)
(461, 'University of Iceland', 'Iceland', 1, 367, 567, 218, 612, 295, 321, 369.0, 839, 44.91, 2015)
(462, 'University of Warsaw', 'Poland', 2, 118, 562, 150, 409, 462, 428, 437.0, 716, 44.91, 2015)
(463, 'Syracuse University', 'USA', 150, 138, 221, 218, 453, 494, 428, 495.0, 392, 44.91, 2015)
(464, 'Bielefeld University', 'Germany', 36, 367, 567, 218, 480, 375, 511, 369.0, 774, 44.91, 2015)
(465, 'Juntendo University', 'Japan', 19, 367, 567, 218, 653, 498, 428, 362.0, 853, 44.9, 2015)
(466, 'University of Wyoming', 'USA', 151, 367, 230, 218, 534, 316, 321, 457.0, 380, 44.89, 2015)
(467, 'University of Wollongong', 'Australia', 10, 367, 269, 218, 431, 433, 428, 424.0, 493, 44.88, 2015)
(468, 'Niigata University', 'Japan', 20, 367, 285, 218, 527, 514, 511, 447.0, 238, 44.88, 2015)
(469, 'Texas Tech University (TTU)', 'USA', 152, 367, 184, 218, 455, 618, 287, 511.0, 809, 44.87, 2015)
(470, 'Middle East Technical University', 'Turkey', 1, 367, 120, 218, 550, 879, 511, 659.0, 871, 44.87, 2015)
(471, 'École normale supérieure de Lyon', 'France', 18, 367, 567, 135, 481, 210, 511, 413.0, 589, 44.87, 2015)
(472, 'Brunel University', 'United Kingdom', 37, 367, 236, 218, 497, 676, 511, 437.0, 667, 44.86, 2015)
(473, 'Nihon University', 'Japan', 21, 301, 565, 218, 599, 588, 812, 637.0, 113, 44.86, 2015)
(474, 'Osaka City University', 'Japan', 22, 108, 414, 218, 484, 536, 321, 471.0, 374, 44.86, 2015)
(475, 'University of Rennes 1', 'France', 19, 367, 567, 218, 351, 341, 428, 420.0, 344, 44.86, 2015)
(476, 'University of Oklahoma Health Sciences Center', 'USA', 153, 367, 567, 218, 580, 461, 511, 375.0, 482, 44.86, 2015)
(477, 'East China University of Science and Technology', 'China', 25, 367, 567, 218, 423, 828, 645, 471.0, 184, 44.86, 2015)
(478, 'University of KwaZulu-Natal', 'South Africa', 4, 367, 148, 218, 562, 397, 368, 579.0, 539, 44.85, 2015)
(479, 'Sichuan University', 'China', 26, 367, 563, 218, 269, 478, 645, 447.0, 597, 44.85, 2015)
(480, 'Illinois Institute of Technology', 'USA', 154, 274, 114, 218, 784, 713, 511, 715.0, 861, 44.85, 2015)
(481, 'Tokyo University of Science', 'Japan', 23, 367, 567, 218, 530, 530, 428, 457.0, 191, 44.84, 2015)
(482, 'University of Science, Malaysia', 'Malaysia', 1, 367, 567, 218, 669, 888, 428, 809.0, 94, 44.84, 2015)
(483, 'Clemson University', 'USA', 155, 367, 535, 218, 433, 497, 645, 396.0, 510, 44.83, 2015)
(484, 'University of Zaragoza', 'Spain', 14, 366, 408, 218, 342, 675, 428, 471.0, 276, 44.83, 2015)
(485, 'University of the Basque Country', 'Spain', 15, 367, 567, 218, 318, 387, 511, 480.0, 266, 44.83, 2015)
(486, 'Nagasaki University', 'Japan', 24, 299, 214, 218, 614, 607, 645, 529.0, 233, 44.82, 2015)
(487, 'Technical University of Dortmund', 'Germany', 37, 367, 567, 218, 459, 528, 368, 420.0, 284, 44.82, 2015)
(488, 'University of Hawaii at Manoa', 'USA', 156, 367, 435, 153, 448, 213, 368, 457.0, 490, 44.82, 2015)
(489, 'University of Nebraska Omaha', 'USA', 157, 367, 365, 218, 704, 606, 428, 396.0, 871, 44.81, 2015)
(490, 'University of Konstanz', 'Germany', 38, 367, 567, 218, 475, 337, 368, 402.0, 614, 44.81, 2015)
(491, 'Panjab University', 'India', 4, 333, 167, 218, 720, 786, 368, 540.0, 824, 44.8, 2015)
(492, 'University of Hanover', 'Germany', 39, 367, 485, 218, 434, 507, 368, 457.0, 250, 44.8, 2015)
(493, 'University of Maryland, Baltimore County', 'USA', 158, 367, 567, 218, 587, 391, 428, 402.0, 423, 44.8, 2015)
(494, 'University of Newcastle', 'Australia', 11, 367, 567, 218, 408, 496, 812, 424.0, 322, 44.79, 2015)
(495, 'University of Ulsan', 'South Korea', 17, 367, 436, 218, 421, 599, 645, 424.0, 370, 44.79, 2015)
(496, 'Renmin University of China', 'China', 27, 367, 100, 218, 965, 936, 812, 896.0, 715, 44.79, 2015)
(497, 'Martin Luther University of Halle-Wittenberg', 'Germany', 40, 358, 567, 210, 394, 345, 812, 413.0, 706, 44.79, 2015)
(498, 'University of Malaya', 'Malaysia', 2, 367, 138, 218, 572, 877, 428, 741.0, 274, 44.79, 2015)
(499, 'University of Savoy', 'France', 20, 367, 567, 218, 490, 435, 428, 402.0, 731, 44.79, 2015)
(500, 'University of Udine', 'Italy', 25, 367, 567, 218, 600, 390, 511, 396.0, 634, 44.78, 2015)
(501, 'Tokyo Metropolitan University', 'Japan', 25, 367, 415, 218, 593, 460, 321, 413.0, 574, 44.78, 2015)
(502, 'University of Sherbrooke', 'Canada', 21, 367, 567, 218, 454, 421, 321, 413.0, 853, 44.77, 2015)
(503, 'University of Brescia', 'Italy', 26, 367, 567, 218, 585, 614, 645, 396.0, 816, 44.77, 2015)
(504, 'University of Ljubljana', 'Slovenia', 1, 367, 567, 218, 341, 415, 321, 457.0, 507, 44.77, 2015)
(505, 'University of Nice Sophia Antipolis', 'France', 21, 266, 567, 218, 451, 259, 511, 424.0, 513, 44.75, 2015)
(506, 'University of Hull', 'United Kingdom', 38, 305, 253, 162, 602, 557, 511, 511.0, 524, 44.75, 2015)
(507, 'University of Coimbra', 'Portugal', 3, 359, 567, 218, 415, 423, 645, 424.0, 459, 44.75, 2015)
(508, 'Creighton University', 'USA', 159, 367, 567, 218, 824, 724, 368, 402.0, 615, 44.75, 2015)
(509, 'Georgia State University', 'USA', 160, 367, 405, 218, 449, 484, 511, 457.0, 360, 44.74, 2015)
(510, 'University of Wisconsin–Milwaukee', 'USA', 161, 229, 248, 218, 516, 491, 511, 503.0, 871, 44.74, 2015)
(511, 'Catholic University of Korea', 'South Korea', 18, 367, 567, 218, 576, 792, 645, 590.0, 139, 44.74, 2015)
(512, 'University of Tokushima', 'Japan', 26, 107, 567, 218, 643, 453, 645, 529.0, 247, 44.73, 2015)
(513, 'Yokohama City University', 'Japan', 27, 367, 231, 218, 685, 370, 645, 520.0, 359, 44.73, 2015)
(514, 'Lanzhou University', 'China', 28, 367, 567, 218, 350, 689, 645, 457.0, 624, 44.72, 2015)
(515, 'University of Crete', 'Greece', 3, 367, 567, 218, 491, 518, 511, 420.0, 871, 44.72, 2015)
(516, 'SUNY Downstate Medical Center', 'USA', 162, 367, 567, 155, 756, 446, 511, 437.0, 660, 44.72, 2015)
(517, 'University of Potsdam', 'Germany', 41, 367, 567, 218, 485, 313, 511, 424.0, 584, 44.72, 2015)
(518, 'Yokohama National University', 'Japan', 28, 88, 217, 135, 909, 865, 645, 809.0, 440, 44.72, 2015)
(519, 'New Mexico State University', 'USA', 163, 367, 432, 218, 711, 585, 321, 424.0, 871, 44.71, 2015)
(520, 'University of Bayreuth', 'Germany', 42, 367, 567, 218, 457, 331, 321, 447.0, 603, 44.71, 2015)
(521, 'Bar-Ilan University', 'Israel', 6, 280, 392, 218, 404, 410, 645, 495.0, 338, 44.71, 2015)
(522, 'University of Mississippi - Oxford Campus', 'USA', 164, 367, 567, 218, 508, 851, 428, 424.0, 611, 44.7, 2015)
(523, 'University of Tasmania', 'Australia', 12, 367, 567, 218, 429, 261, 645, 447.0, 727, 44.7, 2015)
(524, 'Graduate University for Advanced Studies', 'Japan', 29, 367, 567, 218, 613, 291, 645, 420.0, 871, 44.7, 2015)
(525, 'University of Surrey', 'United Kingdom', 39, 217, 295, 218, 419, 553, 428, 549.0, 300, 44.7, 2015)
(526, 'Federal University of Minas Gerais', 'Brazil', 4, 367, 425, 218, 417, 521, 428, 549.0, 207, 44.7, 2015)
(527, 'University of Tromsø - The Arctic University of Norway', 'Norway', 4, 367, 567, 218, 493, 407, 287, 447.0, 824, 44.7, 2015)
(528, 'University of Palermo', 'Italy', 27, 367, 567, 218, 452, 545, 812, 437.0, 559, 44.7, 2015)
(529, 'Shinshu University', 'Japan', 30, 367, 517, 218, 594, 602, 368, 486.0, 244, 44.7, 2015)
(530, 'University of Science and Technology Beijing', 'China', 29, 367, 121, 218, 542, 937, 511, 886.0, 408, 44.7, 2015)
(531, 'University of Catania', 'Italy', 28, 213, 567, 218, 438, 693, 428, 457.0, 853, 44.69, 2015)
(532, 'Mahidol University', 'Thailand', 2, 367, 567, 218, 476, 372, 368, 447.0, 861, 44.69, 2015)
(533, 'University of Canterbury', 'New Zealand', 3, 190, 195, 218, 569, 437, 428, 606.0, 871, 44.68, 2015)
(534, 'Indian Institute of Technology Madras', 'India', 5, 367, 147, 218, 523, 943, 812, 796.0, 317, 44.68, 2015)
(535, 'University of Bremen', 'Germany', 43, 367, 567, 218, 466, 289, 321, 471.0, 515, 44.68, 2015)
(536, 'Otto-von-Guericke University Magdeburg', 'Germany', 44, 367, 567, 218, 486, 629, 511, 457.0, 388, 44.68, 2015)
(537, 'University of Tartu', 'Estonia', 1, 365, 567, 218, 586, 318, 368, 457.0, 426, 44.68, 2015)
(538, 'University of Windsor', 'Canada', 22, 367, 133, 218, 764, 912, 812, 754.0, 658, 44.68, 2015)
(539, 'University of Nantes', 'France', 22, 367, 567, 218, 483, 420, 511, 447.0, 579, 44.67, 2015)
(540, 'Royal Holloway, University of London', 'United Kingdom', 40, 367, 567, 218, 564, 306, 428, 447.0, 556, 44.67, 2015)
(541, 'James Cook University', 'Australia', 13, 367, 567, 218, 505, 248, 428, 457.0, 665, 44.67, 2015)
(542, 'National Yang-Ming University', 'Taiwan', 5, 367, 567, 218, 345, 517, 511, 495.0, 824, 44.65, 2015)
(543, 'University of Akron', 'USA', 165, 367, 400, 218, 656, 653, 645, 606.0, 166, 44.65, 2015)
(544, 'National Chung Hsing University', 'Taiwan', 6, 367, 211, 218, 412, 682, 511, 606.0, 871, 44.65, 2015)
(545, 'City University London', 'United Kingdom', 41, 367, 122, 218, 785, 861, 812, 880.0, 601, 44.64, 2015)
(546, 'New York Medical College', 'USA', 166, 367, 567, 218, 752, 622, 812, 437.0, 719, 44.64, 2015)
(547, 'Nara Institute of Science and Technology', 'Japan', 31, 367, 567, 218, 773, 329, 645, 495.0, 270, 44.63, 2015)
(548, 'École Centrale Paris', 'France', 23, 367, 111, 218, 995, 827, 812, 958.0, 839, 44.63, 2015)
(549, 'Auburn University', 'USA', 167, 367, 232, 218, 472, 569, 368, 606.0, 425, 44.63, 2015)
(550, 'University of Arkansas - Fayetteville', 'USA', 168, 204, 345, 218, 517, 571, 645, 520.0, 409, 44.62, 2015)
(551, 'University of Zagreb', 'Croatia', 1, 367, 567, 218, 553, 541, 428, 471.0, 650, 44.62, 2015)
(552, 'University of Lübeck', 'Germany', 45, 367, 567, 218, 649, 394, 812, 457.0, 629, 44.62, 2015)
(553, 'Hunan University', 'China', 30, 367, 291, 218, 464, 906, 645, 529.0, 816, 44.62, 2015)
(554, 'University of Missouri–Kansas City', 'USA', 169, 311, 480, 218, 634, 447, 645, 471.0, 687, 44.61, 2015)
(555, "Tokyo Women's Medical University", 'Japan', 32, 367, 567, 218, 787, 594, 511, 480.0, 362, 44.61, 2015)
(556, 'Montana State University - Bozeman', 'USA', 170, 367, 477, 218, 575, 323, 287, 495.0, 744, 44.61, 2015)
(557, 'University of Aveiro', 'Portugal', 4, 367, 567, 218, 413, 680, 511, 590.0, 212, 44.61, 2015)
(558, 'National University of Ireland, Galway', 'Ireland', 4, 367, 567, 218, 588, 546, 645, 503.0, 293, 44.61, 2015)
(559, 'University of Oviedo', 'Spain', 16, 367, 539, 218, 440, 445, 428, 495.0, 579, 44.61, 2015)
(560, 'Dongguk University', 'South Korea', 19, 367, 305, 218, 927, 917, 812, 997.0, 108, 44.61, 2015)
(561, 'University of Trento', 'Italy', 29, 367, 567, 218, 488, 556, 368, 486.0, 861, 44.61, 2015)
(562, 'University Lille 1: Sciences and Technologies', 'France', 24, 367, 567, 218, 414, 400, 368, 511.0, 546, 44.6, 2015)
(563, 'Chang Gung University', 'Taiwan', 7, 367, 567, 218, 344, 598, 812, 520.0, 824, 44.6, 2015)
(564, 'National Central University', 'Taiwan', 8, 225, 567, 218, 384, 468, 511, 520.0, 839, 44.6, 2015)
(565, 'Aalborg University', 'Denmark', 5, 367, 439, 218, 596, 660, 287, 520.0, 401, 44.59, 2015)
(566, 'Utah State University', 'USA', 171, 166, 352, 218, 564, 414, 368, 565.0, 371, 44.59, 2015)
(567, 'Baylor University', 'USA', 172, 367, 293, 218, 682, 681, 321, 540.0, 630, 44.59, 2015)
(568, 'Bangor University', 'United Kingdom', 42, 260, 370, 218, 622, 568, 511, 529.0, 342, 44.59, 2015)
(569, 'King Saud University', 'Saudi Arabia', 1, 367, 182, 218, 560, 539, 645, 837.0, 232, 44.59, 2015)
(570, 'University of Cagliari', 'Italy', 30, 367, 567, 218, 518, 567, 511, 486.0, 623, 44.59, 2015)
(571, 'Kent State University', 'USA', 173, 367, 567, 218, 610, 436, 511, 486.0, 498, 44.58, 2015)
(572, 'Central China Normal University', 'China', 31, 367, 567, 218, 631, 855, 511, 480.0, 778, 44.58, 2015)
(573, 'University of Fribourg', 'Switzerland', 8, 232, 252, 218, 734, 428, 428, 579.0, 787, 44.58, 2015)
(574, 'Medical University of Graz', 'Austria', 6, 367, 567, 218, 573, 628, 812, 486.0, 576, 44.58, 2015)
(575, 'Second University of Naples', 'Italy', 31, 367, 567, 218, 556, 641, 645, 486.0, 824, 44.57, 2015)
(576, 'International School for Advanced Studies', 'Italy', 32, 367, 567, 218, 623, 406, 812, 486.0, 768, 44.57, 2015)
(577, 'Tampere University of Technology', 'Finland', 7, 367, 156, 218, 816, 646, 645, 796.0, 746, 44.56, 2015)
(578, 'Inha University', 'South Korea', 20, 367, 381, 218, 568, 780, 511, 565.0, 273, 44.56, 2015)
(579, 'Deakin University', 'Australia', 14, 367, 424, 218, 502, 647, 321, 529.0, 636, 44.56, 2015)
(580, 'National Polytechnic Institute of Toulouse', 'France', 25, 367, 242, 218, 486, 672, 812, 646.0, 413, 44.56, 2015)
(581, 'Sogang University', 'South Korea', 21, 367, 567, 218, 806, 798, 812, 921.0, 115, 44.56, 2015)
(582, 'University of Ioannina', 'Greece', 4, 367, 567, 218, 597, 836, 645, 495.0, 871, 44.55, 2015)
(583, 'Federal University of Rio Grande do Sul', 'Brazil', 5, 367, 567, 218, 410, 578, 428, 529.0, 787, 44.55, 2015)
(584, 'University of Graz', 'Austria', 7, 349, 453, 204, 571, 547, 812, 511.0, 600, 44.54, 2015)
(585, 'University of Montana - Missoula', 'USA', 174, 353, 567, 218, 713, 315, 428, 503.0, 702, 44.54, 2015)
(586, 'East China Normal University', 'China', 32, 367, 272, 218, 436, 645, 812, 622.0, 576, 44.54, 2015)
(587, 'Plymouth University', 'United Kingdom', 43, 367, 544, 218, 532, 429, 511, 511.0, 651, 44.54, 2015)
(588, 'Victoria University of Wellington', 'New Zealand', 4, 317, 223, 218, 606, 469, 645, 646.0, 809, 44.54, 2015)
(589, 'Federal University of São Paulo', 'Brazil', 6, 367, 567, 218, 504, 638, 368, 520.0, 839, 44.53, 2015)
(590, 'Southern Illinois University Carbondale', 'USA', 175, 208, 533, 218, 591, 512, 812, 520.0, 588, 44.53, 2015)
(591, 'University of Alaska Fairbanks', 'USA', 176, 367, 420, 218, 642, 373, 511, 520.0, 792, 44.53, 2015)
(592, 'University of Toledo', 'USA', 177, 367, 567, 218, 618, 555, 812, 606.0, 220, 44.53, 2015)
(593, 'Carleton University', 'Canada', 23, 367, 538, 218, 479, 739, 264, 549.0, 871, 44.53, 2015)
(594, 'Cranfield University', 'United Kingdom', 44, 367, 176, 218, 763, 762, 812, 770.0, 549, 44.52, 2015)
(595, 'Curtin University', 'Australia', 15, 367, 559, 218, 425, 384, 511, 549.0, 518, 44.52, 2015)
(596, 'Indian Institute of Technology Bombay', 'India', 6, 367, 507, 218, 521, 815, 645, 699.0, 176, 44.52, 2015)
(597, 'University of Portsmouth', 'United Kingdom', 45, 367, 567, 218, 768, 719, 234, 540.0, 765, 44.52, 2015)
(598, 'Osaka Prefecture University', 'Japan', 33, 367, 411, 218, 688, 671, 812, 686.0, 187, 44.52, 2015)
(599, 'Nagoya City University', 'Japan', 34, 367, 333, 218, 785, 525, 368, 565.0, 400, 44.52, 2015)
(600, 'LSU Health Sciences Center New Orleans', 'USA', 178, 367, 567, 218, 823, 544, 645, 503.0, 661, 44.52, 2015)
(601, 'Tata Institute of Fundamental Research', 'India', 7, 367, 567, 218, 468, 450, 368, 540.0, 792, 44.51, 2015)
(602, 'Konkuk University', 'South Korea', 22, 367, 388, 218, 533, 748, 812, 686.0, 204, 44.51, 2015)
(603, 'University of La Laguna', 'Spain', 17, 367, 567, 218, 514, 336, 645, 529.0, 661, 44.51, 2015)
(604, 'University of Hertfordshire', 'United Kingdom', 46, 367, 567, 218, 792, 396, 511, 511.0, 839, 44.51, 2015)
(605, 'Florida International University', 'USA', 179, 367, 567, 218, 496, 508, 428, 540.0, 585, 44.5, 2015)
(606, 'University of Rhode Island', 'USA', 180, 367, 265, 218, 664, 385, 511, 637.0, 472, 44.5, 2015)
(607, 'Mississippi State University', 'USA', 181, 155, 220, 218, 605, 608, 645, 754.0, 566, 44.5, 2015)
(608, 'Gunma University', 'Japan', 35, 367, 567, 218, 627, 531, 511, 590.0, 252, 44.5, 2015)
(609, 'University of New Orleans', 'USA', 182, 367, 567, 218, 944, 840, 428, 511.0, 871, 44.5, 2015)
(610, 'Putra University, Malaysia', 'Malaysia', 3, 367, 567, 218, 860, 900, 812, 989.0, 114, 44.49, 2015)
(611, 'Memorial University of Newfoundland', 'Canada', 24, 367, 567, 218, 552, 577, 645, 529.0, 653, 44.49, 2015)
(612, 'Universidade Nova de Lisboa', 'Portugal', 5, 367, 567, 218, 506, 477, 645, 540.0, 590, 44.49, 2015)
(613, 'Griffith University', 'Australia', 16, 367, 567, 218, 436, 500, 368, 565.0, 556, 44.49, 2015)
(614, 'Indian Institute of Technology Kharagpur', 'India', 8, 367, 242, 218, 500, 974, 812, 686.0, 644, 44.49, 2015)
(615, 'Soochow University (Suzhou)', 'China', 33, 367, 567, 218, 396, 773, 812, 565.0, 871, 44.49, 2015)
(616, 'Texas A&M Health Science Center', 'USA', 183, 367, 567, 218, 672, 440, 645, 558.0, 336, 44.49, 2015)
(617, 'Semmelweis University', 'Hungary', 2, 367, 567, 218, 650, 481, 511, 529.0, 670, 44.48, 2015)
(618, 'Lille 2 University of Health and Law', 'France', 26, 367, 567, 218, 821, 631, 645, 520.0, 630, 44.48, 2015)
(619, 'Kagoshima University', 'Japan', 36, 367, 281, 218, 733, 706, 511, 715.0, 251, 44.48, 2015)
(620, 'Flinders University', 'Australia', 17, 122, 567, 218, 518, 581, 812, 622.0, 686, 44.48, 2015)
(621, 'Queensland University of Technology', 'Australia', 18, 367, 567, 218, 477, 750, 511, 558.0, 492, 44.48, 2015)
(622, 'Tokai University', 'Japan', 37, 367, 567, 218, 721, 644, 645, 540.0, 448, 44.48, 2015)
(623, 'Istanbul University', 'Turkey', 2, 253, 386, 218, 684, 560, 645, 558.0, 871, 44.48, 2015)
(624, 'Tokyo University of Agriculture and Technology', 'Japan', 38, 367, 567, 218, 641, 756, 511, 606.0, 264, 44.47, 2015)
(625, 'Louisiana Tech University', 'USA', 184, 367, 197, 218, 969, 871, 428, 754.0, 792, 44.47, 2015)
(626, 'University of Texas at Arlington', 'USA', 185, 367, 567, 218, 492, 532, 511, 565.0, 462, 44.47, 2015)
(627, 'China Agricultural University', 'China', 34, 367, 534, 218, 407, 362, 645, 590.0, 572, 44.47, 2015)
(628, 'Chungnam National University', 'South Korea', 23, 367, 567, 218, 470, 563, 645, 622.0, 290, 44.47, 2015)
(629, 'University of Minho', 'Portugal', 6, 367, 567, 218, 588, 652, 287, 606.0, 363, 44.46, 2015)
(630, 'University of Eastern Piedmont Amedeo Avogadro""', 'Italy', 33, 367, 567, 218, 693, 623, 645, 540.0, 739, 44.46, 2015)
(631, 'Open University (UK)', 'United Kingdom', 47, 367, 567, 218, 616, 340, 645, 549.0, 809, 44.46, 2015)
(632, 'University of Essex', 'United Kingdom', 48, 119, 358, 218, 694, 695, 511, 671.0, 871, 44.45, 2015)
(633, 'Paris-Est Créteil Val-de-Marne University', 'France', 27, 367, 406, 218, 732, 611, 812, 558.0, 824, 44.45, 2015)
(634, 'Hacettepe University', 'Turkey', 3, 367, 567, 218, 658, 630, 428, 549.0, 871, 44.45, 2015)
(635, 'State University of New York Upstate Medical University', 'USA', 186, 367, 567, 218, 774, 632, 428, 549.0, 598, 44.45, 2015)
(636, 'Braunschweig University of Technology', 'Germany', 46, 226, 567, 218, 551, 383, 645, 622.0, 343, 44.44, 2015)
(637, 'University of Salamanca', 'Spain', 18, 367, 491, 218, 544, 483, 511, 565.0, 736, 44.44, 2015)
(638, 'Indian Institute of Technology Roorkee', 'India', 9, 367, 395, 218, 839, 931, 428, 565.0, 871, 44.44, 2015)
(639, 'Örebro University', 'Sweden', 11, 367, 529, 218, 816, 747, 428, 549.0, 871, 44.44, 2015)
(640, 'Northeast Normal University', 'China', 35, 367, 567, 218, 678, 765, 645, 549.0, 871, 44.44, 2015)
(641, 'University of Patras', 'Greece', 5, 367, 567, 218, 510, 704, 511, 565.0, 731, 44.44, 2015)
(642, 'Beijing University of Chemical Technology', 'China', 36, 367, 536, 218, 558, 984, 812, 715.0, 214, 44.44, 2015)
(643, 'Northern Illinois University', 'USA', 187, 367, 284, 218, 669, 661, 321, 671.0, 621, 44.44, 2015)